<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	  
<th:block layout:fragment="adminTitle">
	<title>사서 상세보기</title>
</th:block>
	  
	  <th:block layout:fragment="adminHeadAdd">
	  <link rel="stylesheet" th:href="@{/adminStatic/vendor/css/pages/users.css}">
 	  </th:block>
 
 
  <!-- Content -->
         <th:block layout:fragment="adminContents">
         	<div class="layout-content">
         		<div class="container-fluid flex-grow-1 container-p-y" >
         			<div th:with="ld=${librarianDetail}" class="media align-items-center py-3 mb-3">
		              <div class="media-body ml-4" > 
		                <h4 class="font-weight-bold mb-0" th:text="${ld.uName}"></h4>
		                <div class="text-muted mb-2">회원 :
		                	<span th:text="${ld.uId}"></span>
		                </div>
		                <a th:href="@{/admin/librarianLevelList}" class="btn btn-primary btn-sm">리스트로 이동</a>&nbsp;
		                <a href="javascript:void(0)" class="btn btn-default btn-sm">삭제</a>&nbsp;
		                
		              </div>
		            </div>
      
		            <div class="card mb-4">
		              <div class="card-body">
		                <table th:with="ld=${librarianDetail}" class="table user-view-table m-0" > <!-- th:with="m = ${#}" -->
		                  <tbody>
		                    <tr>
		                      <td>아이디:</td><td th:text="${ld.uId}"></td>
		                    </tr>
		                    <tr>
		                      <td>아이디:</td><td th:text="${ld.uPw}"></td>
		                    </tr>
		                    <tr>
		                      <td>구분:</td><td th:text="${ld.uDivision}"></td>
		                    </tr>
		                    <tr>
		                      <td>이름:</td><td th:text="${ld.uName}"></td>
		                    </tr>
		                    <tr>
		                      <td>생년월일:</td><td th:text="${ld.uBirth}"></td>
		                    </tr>
		                    <tr>
		                      <td>주소:</td><td th:text="${ld.uAddr}"></td>
		                    </tr>
		                    <tr>
		                      <td>연락처:</td><td th:text="${ld.uTel}"></td>
		                    </tr>
		                    <tr>
		                      <td>이메일:</td><td th:text="${ld.uEmail}"></td>
		                    </tr>
		                    <tr>
		                      <td>이메일수신동의:</td>
		                      <td th:if = "${ld != null}">
		                      	<span th:if="${ld.uEmailAgree eq 'O'}" th:text="동의" class="ion ion-md-checkmark text-primary"></span>
		                      	<span th:unless = "${ld.uEmailAgree eq 'O'}"  th:text="비동의" class="ion ion-md-close text-danger"></span>
		                      	&nbsp;
		                      </td>
		                    </tr>
		                    <tr>
		                      <td>등록일자:</td><td th:text="${ld.uDate}"></td>
		                    </tr>
		                    
		                  </tbody>
		                </table>
		              </div>
		              
		              
		            </div>
         	
    
         		</div>
         	</div>

          </th:block>
 
</html>