<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart.pentagon.board.BoardMapper">						
	<resultMap type="ksmart.pentagon.vo.Board" id="boardNoticeList">		
		<result property="boardCode" column="board_code" />					<!-- 게시글내용 코드 -->	
		<result property="lCode" column="l_code" />							<!-- 도서관코드 -->	
		<result property="uId" column="u_id" />								<!-- 아이디 -->	
		<result property="boardLCode" column="board_l_code" />				<!-- 게시판 대분류코드 -->
		<result property="boardMCode" column="board_m_code" />				<!-- 게시판 중분류코드 -->	
		<result property="boardTitle" column="board_title" />				<!-- 게시글제목 -->
		<result property="boardPw" column="board_pw" />						<!-- 게시글비번 -->	
		<result property="boardContent" column="board_content" />			<!-- 게시글내용 -->
		<result property="boardOpen" column="board_open" />					<!-- 공개여부 -->
		<result property="boardPageView" column="board_page_view" />		<!-- 조회수 -->
		<result property="boardDate" column="board_date" />					<!-- 게시글 등록일 -->
		<result property="boardLName" column="board_l_name"/>				<!-- 게시판 대분류명 -->
		<result property="boardMName" column="board_m_name"/>				<!-- 게시판 중분류명 -->
						
	</resultMap>
	
	<resultMap type="ksmart.pentagon.vo.BoardComment" id="comment">	
		<result property="boardCCode" column="board_c_code"/>				<!-- 댓글코드 -->
		<result property="lCode" column="l_code"/>							<!-- 도서관코드 -->	
		<result property="uId" column="u_id"/>								<!-- 아이디 -->
		<result property="boardCode" column="board_code"/>					<!-- 게시글내용 코드 -->
		<result property="bReportCode" column="b_report_code"/>				<!-- 독후감코드 -->
		<result property="boardCContent" column="board_c_content"/>			<!-- 내용 -->
		<result property="boardCOpen" column="board_c_open"/>				<!-- 공개여부 -->
		<result property="boardCDate" column="board_c_date"/>				<!-- 등록일 -->
	</resultMap>

	<!-- 공지사항 리스트 불러오는 쿼리문 -->
	<select id="getBoard" resultMap="boardNoticeList">
		SELECT
		*
		FROM board AS b INNER JOIN board_large AS bl
		ON b.board_l_code = bl.board_l_code
		WHERE
		bl.board_l_name = #{boardLName} AND b.l_code = #{lCode} ORDER BY b.board_date DESC
	</select>

	<!-- 공지사항 PK MAX코드 불러오기 쿼리문 -->
	<select id="maxBoardCode" resultType="String">
		SELECT
		max(board_code)
		AS max
		FROM board
	</select>

	<!-- 공지사항 등록 쿼리문 -->
	<insert id="boardInsert"
		parameterType="ksmart.pentagon.vo.Board">
		INSERT INTO board
		(board_code,
		l_code,
		u_id,
		board_l_code,
		board_m_code,
		board_title,
		board_pw,
		board_content,
		board_open,
		board_page_view,
		board_date)
		VALUES (#{boardCode}, #{lCode}, #{uId}, (SELECT
		board_l_code FROM board_large WHERE board_l_name= #{boardLName}),
		(SELECT board_m_code FROM board_medium WHERE board_m_name=
		#{boardMName}), #{boardTitle}, #{boardPw}, #{boardContent},
		#{boardOpen}, 0, NOW())
	</insert>

	<!-- 게시판 공지사항 상세보기 쿼리문 -->
	<update id="boardPageViewUp"
		parameterType="ksmart.pentagon.vo.Board">
		UPDATE
		board
		SET
		board_page_view = board.board_page_view + 1
		WHERE board_code = #{boardCode}
	</update>

	<!-- 공지사항 상세 보기정보 업뎃으로 정보가져오는 쿼리문 -->
	<select id="getBoardDatail" resultMap="boardNoticeList"
		parameterType="ksmart.pentagon.vo.Board">
		SELECT
		*
		FROM board AS b
		WHERE b.board_code = #{boardCode} AND b.l_code =
		#{lCode}
	</select>

	<update id="setBoardUpdate"
		parameterType="ksmart.pentagon.vo.Board">
		UPDATE board
		SET
		board_title= #{boardTitle},
		board_content= #{boardContent}
		WHERE board_code = #{boardCode}
	</update>

	<delete id="boardDelete" parameterType="String">
		DELETE
		FROM
		board
		WHERE board_code= #{boardCode}
	</delete>

	<select id="commentCheck" parameterType="String" resultMap="comment">
		SELECT bc.*
		FROM board_comment AS bc INNER JOIN board AS b
		ON
		bc.board_code = b.board_code
		WHERE bc.board_code = #{boardCode}
	</select>
	
	<select id="getComment" parameterType="ksmart.pentagon.vo.Board" resultMap="comment">
		SELECT *
		FROM board_comment
		WHERE board_code = #{boardCode}	
	</select>
	
	<insert id="inquiryCommentInsert" parameterType="ksmart.pentagon.vo.BoardComment">
	INSERT INTO board_comment
	(board_c_code, l_code, u_id, board_code, board_c_content, board_c_date)
	VALUES (#{boardCCode}, #{lCode}, #{uId}, #{boardCode}, #{boardCContent}, NOW())
	</insert>
	
	<select id="maxCommentCode" resultType="String">
		SELECT
		max(board_c_code)
		AS max
		FROM board_comment
	</select>
	
	<update id="inquiryCommentUpdate" parameterType="ksmart.pentagon.vo.BoardComment">
	UPDATE board_comment
	SET
		u_id= #{uId},
		board_c_content= #{boardCContent},
		board_c_date=NOW()
	WHERE board_c_code= #{boardCCode}
	</update>
	
	<delete id="inquiryCommentDelete" parameterType="ksmart.pentagon.vo.BoardComment">
		DELETE 
		FROM board_comment
		WHERE board_c_code= #{boardCCode}
	</delete>
	
	<select id="lifraryInquirySearchList" parameterType="ksmart.pentagon.vo.BoardComment" resultMap="boardNoticeList">
		SELECT
		b.*,bm.board_m_name,bl.board_l_name
		FROM
		board AS b INNER JOIN board_large AS bl
		ON b.board_l_code = bl.board_l_code
		INNER JOIN board_medium AS bm
		ON b.board_m_code = bm.board_m_code
		WHERE bl.board_l_name = #{boardLName} AND b.l_code = #{lCode} ORDER BY b.board_date DESC
	</select>
	
	<select id="lifraryInquiryDetail" parameterType="ksmart.pentagon.vo.BoardComment" resultMap="boardNoticeList">
		SELECT
		b.*,bm.board_m_name
		FROM
		board AS b INNER JOIN board_large AS bl
		ON b.board_l_code = bl.board_l_code
		INNER JOIN board_medium AS bm
		ON b.board_m_code = bm.board_m_code
		WHERE bl.board_l_name = #{boardLName} AND b.l_code = #{lCode} AND b.board_code = #{boardCode}
	</select>
	
	<select id="inquirySearchListAjax" parameterType="ksmart.pentagon.vo.Board" resultMap="boardNoticeList">
		SELECT
		b.*,bl.board_l_name,bm.board_m_name
		FROM
		board AS b INNER JOIN board_large AS bl
		ON b.board_l_code = bl.board_l_code
		INNER JOIN board_medium AS bm
		ON b.board_m_code = bm.board_m_code
		INNER JOIN board_comment AS bc
		ON b.board_code = bc.board_code
		WHERE bl.board_l_name = #{boardLName} AND bm.board_m_name = #{boardMName} AND b.board_open = 'O'
	</select>
	
	<select id="lifraryNoticeList" parameterType="ksmart.pentagon.vo.Board" resultMap="boardNoticeList">
		SELECT
		b.*,bm.board_m_name,bl.board_l_name
		FROM
		board AS b INNER JOIN board_large AS bl
		ON b.board_l_code = bl.board_l_code
		INNER JOIN board_medium AS bm
		ON b.board_m_code = bm.board_m_code
		WHERE bl.board_l_name = #{boardLName} AND b.l_code = #{lCode} ORDER BY b.board_date DESC
	</select>
	
	<select id="myinquiryList" parameterType="ksmart.pentagon.vo.Board" resultMap="boardNoticeList">
		SELECT
			b.*, bm.board_m_name
		FROM
			board AS b INNER JOIN board_large AS bl
		on b.board_l_code = bl.board_l_code
			INNER JOIN board_medium AS bm
		ON b.board_m_code = bm.board_m_code
			WHERE b.u_id = #{uId} AND bl.board_l_name = #{boardLName} AND b.l_code = #{lCode}
		ORDER BY b.board_date DESC
	</select>
	
	
	
</mapper>