<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ksmart.pentagon.user.AdminMapper">
   <resultMap type="ksmart.pentagon.vo.User" id="userResultMap">
	<!-- db -->
	<result property="uId" column="u_id"/>
	<result property="lCode" column="l_code"/>
	<result property="ulLevel" column="ul_level"/>
	<result property="uDivision" column="u_division"/>
	<result property="ulName" column="ul_name"/>
	<result property="uasCode" column="uas_code"/>
	<result property="uasName" column="uas_name"/>
	<result property="uasLendLimit" column="uas_lend_limit"/>
	<result property="uasFacilityLimit" column="uas_facility_limit"/>
	<result property="uNumber" column="u_number"/>
	<result property="uPw" column="u_pw"/>
	<result property="uName" column="u_name"/>
	<result property="uBirth" column="u_birth"/>
	<result property="uAddr" column="u_addr"/>
	<result property="uTel" column="u_tel"/>
	<result property="uEmail" column="u_email"/>
	<result property="uEmailAgree" column="u_email_agree"/>
	<result property="uAppointment" column="u_appointment"/>
	<result property="uOverdueDay" column="u_overdue_day"/>
	<result property="uDate" column="u_date"/>
	<result property="uAuthorityDate" column="u_authority_date"/>
	
	<collection property="librarianLevel" resultMap="librarian"/>
 </resultMap>
  
  <resultMap type="ksmart.pentagon.vo.LibrarianLevel" id="librarian">
	<!-- db -->
	<result property="uId" column="u_id"/>
	<result property="lCode" column="l_code"/>
	<result property="llInsert" column="ll_insert"/>
	<result property="llCarry" column="ll_carry"/>
	<result property="llBookAdmin" column="ll_book_admin"/>
	<result property="llStats" column="ll_stats"/>
	<result property="llBookStock" column="ll_book_stock"/>
	<result property="llUpdate" column="ll_update"/>
 </resultMap>
 
 <resultMap type="ksmart.pentagon.vo.UserLevel" id="userLevel">
	<!-- db -->
	<result property="uId" column="u_id"/>
	<result property="lCode" column="l_code"/> 
	<result property="ulLevel" column="ul_level"/>
	<result property="ulName" column="ul_name"/>
	<result property="ulMin" column="ul_min"/>
	<result property="ulMax" column="ul_max"/>
	<result property="ulLendNum" column="ul_lend_num"/>
	<result property="ulLendDay" column="ul_lend_day"/>
	<result property="ulDate" column="ul_date"/>
 </resultMap>
 
 <resultMap type="ksmart.pentagon.vo.UserAuthoritySet" id="userAuthoritySet">
	<!-- db -->
	<result property="uasCode" column="uas_code"/>
	<result property="lCode" column="l_code"/> 
	<result property="uId" column="u_id"/>
	<result property="uasName" column="uas_name"/>
	<result property="uasOverdueMin" column="uas_overdue_min"/>
	<result property="uasOverdueMax" column="uas_overdue_max"/>
	<result property="uasLendLimit" column="uas_lend_limit"/>
	<result property="uasFacilityLimit" column="uas_facility_limit"/>
	<result property="uasLimitDate" column="uas_limit_date"/>
	<result property="uasDate" column="uas_date"/>
 </resultMap>
 
  <resultMap type="ksmart.pentagon.vo.UserLevelHistory" id="userLevelHistory">
	<!-- db -->
	<result property="ulhCode" column="ulh_code"/>
	<result property="lCode" column="l_code"/>
	<result property="uId" column="u_id"/> 
	<result property="ulLevel" column="ul_level"/>
	<result property="ulName" column="ul_name"/>
	<result property="uName" column="u_name"/>
	<result property="ulhReason" column="ulh_reason"/>
	<result property="ulhDate" column="ulh_date"/>
 </resultMap>
 
 <resultMap type="ksmart.pentagon.vo.UserAuthorityHistory" id="userAuthorityHistory">
	<!-- db -->
	<result property="uahCode" column="uah_code"/>
	<result property="lCode" column="l_code"/>
	<result property="uId" column="u_id"/> 
	<result property="uasCode" column="uas_code"/>
	<result property="uasName" column="uas_name"/>
	<result property="uName" column="u_name"/>
	<result property="uahReason" column="uah_reason"/>
	<result property="uahDate" column="uah_date"/>
 </resultMap>
 
	<select id="adminLoginCheck" resultMap="userResultMap">
		SELECT
			u.u_id,
			u.u_pw,
			u.l_code,
			u.u_division,
			u.u_name,
			ll.ll_insert,
			ll.ll_carry,
			ll.ll_book_admin,
			ll.ll_stats,
			ll.ll_book_stock
		FROM
			user AS u INNER JOIN librarian_level AS ll
		ON
			u.u_id = ll.u_id
		WHERE
			u.u_id = #{uId} and (u.u_division = '관리자' or u.u_division = '사서')
	</select>
 
  	<select id="getUserLevel" resultType="ksmart.pentagon.vo.UserLevel">
  		SELECT 
  			ul_level as ulLevel, 
  			l_code as lCode, 
  			u_id as uId, 
  			ul_min as ulMin, 
  			ul_max as ulMax, 
  			ul_lend_num as ulLendNum, 
  			ul_lend_day as ulLendDay, 
  			ul_date as ulDate
		FROM 
			user_level
  	</select>
  	
  	<select id="getUserList" resultType="ksmart.pentagon.vo.User">
		SELECT 
			u.u_number 				AS uNumber
			,u.u_id 	 			AS uId
			,ul.ul_name				AS ulName
			,u.u_name 				AS uName
			,u.u_birth				AS uBirth
			,u.u_tel				AS uTel
			,u.u_email_agree		AS uEmailAgree
			,u.u_appointment		AS uAppointment
			,u.u_email				AS uEmail
			,uas.uas_lend_limit		AS uasLendLimit
			,uas.uas_facility_limit AS uasFacilityLimit
			,uas.uas_name			AS uasName
			,u.u_overdue_day		AS uOverdueDay
			,u.u_date				AS uDate
		FROM
			user as u 
		INNER JOIN 
			user_authority_set as uas
		ON 
			u.uas_code = uas.uas_code
		INNER join
			user_level AS ul
		on
			ul.ul_level = u.ul_level
		WHERE 
			u.l_code = #{libNum}
  	</select>
  	
  	<select id="getUserSearch" parameterType="String" resultType="ksmart.pentagon.vo.User">
		SELECT 
			u.u_number 				AS uNumber
			,u.u_id 	 			AS uId
			,ul.ul_name				AS ulName
			,u.u_name 				AS uName
			,u.u_birth				AS uBirth
			,u.u_tel				AS uTel
			,u.u_email_agree		AS uEmailAgree
			,u.u_appointment		AS uAppointment
			,u.u_email				AS uEmail
			,uas.uas_lend_limit		AS uasLendLimit
			,uas.uas_facility_limit AS uasFacilityLimit
			,uas.uas_name			AS uasName
			,u.u_overdue_day		AS uOverdueDay
			,u.u_date				AS uDate
		FROM
			user as u 
		INNER JOIN 
			user_authority_set as uas
		ON 
			u.uas_code = uas.uas_code
		INNER join
			user_level AS ul
		on
			ul.ul_level = u.ul_level
		WHERE 
			u.l_code = #{libNum}
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="sv != null and sv neq ''.toString()"> 
				AND ${sk} Like CONCAT('%',#{sv},'%')		
			</if>
		</trim>
  	</select>
  	
  	<select	id="getAdminUserUpdate"
 	parameterType="String" 
 	resultType="ksmart.pentagon.vo.User">
		SELECT
 			u.u_number 	AS uNumber 
			,u.u_tel 	AS uTel
			,u.u_id 	AS uId
			,u.u_pw 	AS uPw
			,u.u_name 	AS uName
			,u.u_addr	AS uAddr
			,u.u_email 	AS uEmail
			,u.u_overdue_day 	AS uOverdueDay
			,u.u_birth 	AS uBirth
			,u.u_date 	AS uDate
			,ul.ul_name 	AS ulName
			,ul.ul_level 	AS ulLevel
			,uas.uas_lend_limit		AS uasLendLimit
			,uas.uas_facility_limit AS uasFacilityLimit
			,uas.uas_name			AS uasName
			,u.u_email_agree 	AS uEmailAgree
			,u.u_appointment		AS uAppointment
		FROM
			user u 
		INNER JOIN 
			user_authority_set as uas
		ON 
			u.uas_code = uas.uas_code
		INNER join
			user_level AS ul
		on
			ul.ul_level = u.ul_level
		WHERE u.u_id = #{uId}
	</select>
	
 	<update id="adminUserUpdate" parameterType="ksmart.pentagon.vo.User">
 		UPDATE user
 		<trim prefix="SET" suffixOverrides=",">
 			<if test="uTel neq null and uTel neq ''.toString()">
 				u_tel=#{uTel},
 			</if>
 			<if test="uAddr neq null and uAddr neq ''.toString()">
 				u_addr=#{uAddr},
 			</if>
 			<if test="uName neq null and uName neq ''.toString()">
 				u_name=#{uName},
 			</if>
 			<if test="uEmail neq null and uEmail neq ''.toString()">
 				u_email=#{uEmail},
 			</if>
 			<if test="uOverdueDay neq null and uOverdueDay neq ''.toString()">
 				u_overdue_day=#{uOverdueDay},
 			</if>
 			<if test="uBirth neq null and uBirth neq ''.toString()">
 				u_birth=#{uBirth},
 			</if>
 			<if test="uEmailAgree neq null and uEmailAgree neq ''.toString()">
 				u_email_agree=#{uEmailAgree},
 			</if>
 			<if test="uEmailAgree neq null and uEmailAgree neq ''.toString()">
 				u_appointment=#{uAppointment},
 			</if>
 			<if test="uasCode neq null and uasCode neq ''.toString()">
 				uas_code=#{uasCode}
 			</if>
 			<if test="ulLevel neq null and ulLevel neq ''.toString()">
 				ul_level=#{ulLevel}
 			</if>
 		</trim>
 		WHERE u_id = #{uId}
 	</update>

	<select id="adminUserDetail" resultMap="userResultMap" parameterType="String">
		SELECT 
			u.u_id
			,u.ul_level
			,ul.ul_name
			,u.u_division
			,u.uas_code
			,u.u_number
			,u.u_name
			,u.u_birth
			,u.u_addr
			,u.u_tel
			,u.u_email
			,u.u_email_agree
			,u.u_appointment
			,u.u_overdue_day
			,u.u_date
			,uas.uas_name
			,uas.uas_lend_limit
			,uas.uas_facility_limit
		FROM 
			user u
		INNER JOIN  
			user_authority_set as uas
		ON 
			u.uas_code = uas.uas_code
		INNER join
			user_level AS ul
		on
			ul.ul_level = u.ul_level
		where
			u.u_id=#{uId}
		 
	</select>
	
    <insert id="adUserLevelInsert">
    	<selectKey keyProperty="ulLevel" resultType="String" order="BEFORE">
 			SELECT 
				CONCAT('ul',(SELECT LPAD(RIGHT(MAX(ul.ul_level),3)+1,3,'0')))
			FROM user_level AS ul
 		</selectKey>
		INSERT INTO user_level(
			 u_id
			 ,l_code
			,ul_level
			,ul_name
			,ul_min
			,ul_max
			,ul_lend_num
			,ul_lend_day
			,ul_date
		)VALUES(
			 #{uId}
			,#{lCode}
			,#{ulLevel}
			,#{ulName}
			,#{ulMin}
			,#{ulMax}
			,#{ulLendNum}
			,#{ulLendDay}
			,CURDATE()
		)
	</insert>
	
	<insert id="adUserAuthorityInsert">
		<selectKey keyProperty="uasCode" resultType="String" order="BEFORE">
 			SELECT 
				CONCAT('uas',(SELECT LPAD(RIGHT(MAX(uas.uas_code),3)+1,3,'0')))
			FROM user_authority_set AS uas
 		</selectKey>
		INSERT INTO user_authority_set(
			 uas_code
			 ,l_code
			 ,u_id
			,uas_name
			,uas_overdue_min
			,uas_overdue_max
			,uas_lend_limit
			,uas_facility_limit
			,uas_limit_date
			,uas_date
		)VALUES(
			 #{uasCode}
			,#{lCode}
			,#{uId}
			,#{uasName}
			,#{uasOverdueMin}
			,#{uasOverdueMax}
			,#{uasLendLimit}
			,#{uasFacilityLimit}
			,#{uasLimitDate}
			,CURDATE()
		)
	</insert>
	
	<select id="adUserLevelList" resultMap="userLevel" parameterType="String">
		SELECT 
			*
		FROM 
			user_level
		WHERE 
			l_code = #{libNum}
	</select>
	
    <update id="adUserLevelUpdate" parameterType="ksmart.pentagon.vo.UserLevel" >
		UPDATE 
			user_level
		SET
			 ul_level       = #{ulLevel}
			,l_code         = #{lCode}
			,u_id      		= #{uId}
			,ul_name        = #{ulName}
			,ul_min   		= #{ulMin}
			,ul_max         = #{ulMax}
			,ul_lend_num	= #{ulLendNum}
			,ul_lend_day    = #{ulLendDay}
			,ul_date        = #{ulDate}
		WHERE 
			 ul_level = #{ulLevel} 
	</update>
	
	<select id="getAdUserLevelUpdate" resultMap="userLevel" parameterType="String">
		SELECT 
			*
		FROM 
			user_level
		where 
			ul_level = #{ulLevel}
	</select>
	
	<select id="adUserAuthorityList" resultMap="userAuthoritySet" parameterType="String">
		SELECT 
			*
		FROM 
			user_authority_set
		WHERE 
			l_code = #{libNum}
	</select>
	
	<update id="adUserAuthorityUpdate" parameterType="ksmart.pentagon.vo.UserAuthoritySet" >
		UPDATE 
			user_authority_set
		SET
			 uas_code       	= #{uasCode}
			,l_code        	 	= #{lCode}
			,u_id      			= #{uId}
			,uas_name        	= #{uasName}
			,uas_overdue_min   	= #{uasOverdueMin}
			,uas_overdue_max    = #{uasOverdueMax}
			,uas_lend_limit		= #{uasLendLimit}
			,uas_facility_limit    = #{uasFacilityLimit}
			,uas_limit_date        = #{uasLimitDate}
			,uas_date        	   = #{uasDate}
		WHERE 
			 uas_code = #{uasCode}
	</update>
	
	<select id="getAdUserAuthorityUpdate" resultMap="userAuthoritySet" parameterType="String">
		SELECT 
			*
		FROM 
			user_authority_set
		where 
			uas_code = #{uasCode}
	</select>
	
	<select id="adUserLevelHistorySearchList" resultMap="userLevelHistory">
		SELECT 
			ulh.ulh_code
			, ulh.l_code
			, ulh.u_id
			, u.u_name
			, ulh.ul_level
			, ul.ul_name
			, ulh.ulh_reason
			, ulh.ulh_date
		FROM 
			user_level_history AS ulh
		INNER JOIN 
			user_level AS ul
		ON
			ulh.ul_level = ul.ul_level
		INNER JOIN 
			user AS u
		ON
			u.u_id = ulh.u_id
		WHERE 
			u.l_code = #{libNum}
			
  	</select>
  	
  	<select id="adUserLevelHistorySearch" resultMap="userLevelHistory">
		SELECT 
			ulh.ulh_code
			, ulh.l_code
			, ulh.u_id
			, u.u_name
			, ulh.ul_level
			, ul.ul_name
			, ulh.ulh_reason
			, ulh.ulh_date
		FROM 
			user_level_history AS ulh
		INNER JOIN 
			user_level AS ul
		ON
			ulh.ul_level = ul.ul_level
		INNER JOIN 
			user AS u
		ON
			u.u_id = ulh.u_id
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="sv != null and sv neq ''.toString()"> 
				AND ${sk} Like CONCAT('%',#{sv},'%')		
			</if>
		</trim>
  	</select>
  	
  	<select id="adUserAuthorityHistorySearchList" resultMap="userAuthorityHistory">
		
		SELECT 
			uah_code
			, uah.l_code
			, uah.u_id
			, u.u_name
			, uah.uas_code
			, uas.uas_name
			, uah.uah_reason
			, uah.uah_date
		FROM 
			user_authority_history AS uah
		INNER JOIN 
			user_authority_set AS uas
		ON
			uas.uas_code = uah.uas_code
		INNER JOIN 
			user AS u
		ON
			u.u_id = uah.u_id
		WHERE 
			u.l_code = #{libNum}
  	</select>
  	
  	<select id="adUserAuthorityHistorySearch" resultMap="userAuthorityHistory">
		SELECT 
			uah_code
			, uah.l_code
			, uah.u_id
			, u.u_name
			, uah.uas_code
			, uas.uas_name
			, uah.uah_reason
			, uah.uah_date
		FROM 
			user_authority_history AS uah
		INNER JOIN 
			user_authority_set AS uas
		ON
			uas.uas_code = uah.uas_code
		INNER JOIN 
			user AS u
		ON
			u.u_id = uah.u_id
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="sv != null and sv neq ''.toString()"> 
				AND ${sk} Like CONCAT('%',#{sv},'%')		
			</if>
		</trim>
  	</select>
  	
  	<insert id="librarianInsert1">
		INSERT INTO user(
			 u_id
			 ,l_code 
			 ,u_division      	 	
			 ,u_pw
			 ,u_name
			 ,u_birth
			 ,u_addr
			 ,u_tel
			 ,u_email
			 ,u_email_agree
			 ,u_appointment
			 ,u_overdue_day
			 ,u_date
		)VALUES(
			 #{uId}
			,#{lCode}
			,#{uDivision}
			,#{uPw}
			,#{uName}
			,#{uBirth}
			,#{uAddr}
			,#{uTel}
			,#{uEmail}
			,#{uEmailAgree}
			,''
			,0
			,CURDATE()
		)
	</insert>
	
   <insert id="librarianInsert2">
		INSERT INTO librarian_level(
			  u_id	
			 ,l_code
			 ,ll_insert
			 ,ll_carry
			 ,ll_book_admin
			 ,ll_stats
			 ,ll_book_stock
			 ,ll_update
		)VALUES(
			 #{uId}
			,#{lCode}
			,#{llInsert}
			,#{llCarry}
			,#{llBookAdmin}
			,#{llStats}
			,#{llBookStock}
			,CURDATE()
		)
	</insert>
	
	<select id="librarianLevelList1" resultMap="userResultMap">
		SELECT 
			u.u_id
			, u.l_code
			, u.u_division
			, u.u_pw
			, u.u_name
			, u.u_birth
			, u.u_addr
			, u.u_tel
			, u.u_email
			, u.u_email_agree
			, u.u_appointment
			, u.u_overdue_day
			, u.u_date
			, ll.ll_insert
			, ll.ll_carry
			, ll.ll_book_admin
			, ll.ll_stats
			, ll.ll_book_stock
			, ll.ll_update
		FROM 
			user AS u
		INNER JOIN 
			librarian_level AS ll
		ON 
			u.u_id = ll.u_id
		WHERE 
		    u_division='사서' and u.l_code = #{libNum}
  	</select>
  	
  	<select id="librarianLevelList2" parameterType="String" resultMap="userResultMap">
		SELECT 
			u.u_id
			, u.l_code
			, u.u_division
			, u.u_pw
			, u.u_name
			, u.u_birth
			, u.u_addr
			, u.u_tel
			, u.u_email
			, u.u_email_agree
			, u.u_appointment
			, u.u_overdue_day
			, u.u_date
			, ll.ll_insert
			, ll.ll_carry
			, ll.ll_book_admin
			, ll.ll_stats
			, ll.ll_book_stock
			, ll.ll_update
		FROM 
			user AS u
		INNER JOIN 
			librarian_level AS ll
		ON 
			u.u_id = ll.u_id
		WHERE 
		    u_division='사서'
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="sv != null and sv neq ''.toString()"> 
				AND ${sk} Like CONCAT('%',#{sv},'%')		
			</if>
		</trim>
  	</select>
  	
  	<select id="getLibrarianLevelUpdate" resultMap="userResultMap" parameterType="String">
 		SELECT
			*
		FROM
			user AS u
		INNER JOIN  
			librarian_level AS ll 
		ON 
			u.u_id = ll.u_id
		WHERE 
			u.u_id = #{uId} 
  	</select>
  	
  	<update id="librarianLevelUpdate1" parameterType="ksmart.pentagon.vo.User" >
		UPDATE 
			user
		SET
			u_id			=#{uId}
			,l_code			=#{lCode}
			,u_division		='사서'
			,u_pw			=#{uPw}
			,u_name			=#{uName}
			,u_birth		=#{uBirth}
			,u_addr			=#{uAddr}
			,u_tel 			=#{uTel}		
			,u_email  		=#{uEmail}
			,u_email_agree	=#{uEmailAgree}
			,u_appointment	=''
			,u_overdue_day	=0
		WHERE 
			u_id = #{uId}
    </update>
    
    <update id="librarianLevelUpdate2" parameterType="ksmart.pentagon.vo.LibrarianLevel" >
		UPDATE 
			librarian_level
		SET
			u_id			=#{uId}
			,l_code			=#{lCode}
			,ll_insert		=#{llInsert}
			,ll_carry		=#{llCarry}
			,ll_book_admin	=#{llBookAdmin}
			,ll_stats		=#{llStats}
			,ll_book_stock	=#{llBookStock}	
		WHERE 
			u_id = #{uId}
    </update>
    
    <select id="librarianDetail" resultMap="userResultMap" parameterType="String">
		SELECT 
			u_id
			,l_code
			,u_division
			,u_pw
			,u_name
			,u_birth
			,u_addr
			,u_tel
			,u_email
			,u_email_agree
			,u_date
		FROM 
			user 
		where
			u_id=#{uId}
		 
	</select>
	
	<select id="librarianMyDetail" resultMap="userResultMap" parameterType="String">
		SELECT 
			 u.u_id
			,u.l_code
			,u.u_division
			,u.u_pw
			,u.u_name
			,u.u_birth
			,u.u_addr
			,u.u_tel
			,u.u_email
			,u.u_email_agree
			,u.u_date
			,ll.ll_insert
			,ll.ll_carry
			,ll.ll_book_admin
			,ll.ll_stats
			,ll.ll_book_stock
		FROM 
			user AS u
		INNER JOIN 
			librarian_level AS ll
		ON 
			u.u_id = ll.u_id
		where
			u.u_id= #{getSAID}
	</select>
	
    <select id="getLibrarianMyUpdate" resultMap="userResultMap" parameterType="String">
		SELECT 
			*
		FROM 
			user
		where 
			u_id = #{getSAID} and l_code = #{libNum}
	</select>
	
	<update id="librarianMyUpdate" parameterType="ksmart.pentagon.vo.User" >
		UPDATE 
			user
		SET
			u_division		=#{uDivision}
			,u_pw			=#{uPw}
			,u_name			=#{uName}
			,u_birth		=#{uBirth}
			,u_addr			=#{uAddr}
			,u_tel			=#{uTel}	
			,u_email		=#{uEmail}
			,u_email_agree	=#{uEmailAgree}
			,u_date			=#{uDate}			
		WHERE 
			u_id = #{uId}
			
    </update>

<!--  삭제 처리  --> <!--  삭제 처리  --> <!--  삭제 처리  -->
	 <select id="checkPw" resultMap="userResultMap" parameterType="String">
  		SELECT 
			  * 
		FROM 
			  user
		WHERE 
			  u_id     = #{said}
	 	and	  u_pw 	   = #{write}		 		    
  	</select>
	<delete id="deleteUser" parameterType="String">
		DELETE 
		FROM 
			user
		WHERE 
			u_id=#{uId} 
	</delete>
	<delete id="deleteLevel" parameterType="String">
		DELETE 
		FROM 
			user_level
		WHERE 
			ul_level =# {ulLevel} 
	</delete>

  </mapper>