<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ksmart.pentagon.user.LibraryMapper">
<resultMap type="ksmart.pentagon.vo.User" id="userResultMap">
	<!-- db -->
	<result property="uId" column="u_id"/>
	<result property="lCode" column="l_code"/>
	<result property="ulLevel" column="ul_level"/>
	<result property="uDivision" column="u_division"/>
	<result property="ulName" column="ul_name"/>
	<result property="uasCode" column="uas_code"/>
	<result property="uasName" column="uas_name"/>
	<result property="uasLendLimit" column="uas_lend_limit"/>
	<result property="uasFacilityLimit" column="uas_facility_limit"/>
	<result property="uNumber" column="u_number"/>
	<result property="uPw" column="u_pw"/>
	<result property="uName" column="u_name"/>
	<result property="uBirth" column="u_birth"/>
	<result property="uAddr" column="u_addr"/>
	<result property="uTel" column="u_tel"/>
	<result property="uEmail" column="u_email"/>
	<result property="uEmailAgree" column="u_email_agree"/>
	<result property="uAppointment" column="u_appointment"/>
	<result property="uOverdueDay" column="u_overdue_day"/>
	<result property="uDate" column="u_date"/>
	<result property="uAuthorityDate" column="u_authority_date"/>
	
</resultMap>

<resultMap type="ksmart.pentagon.vo.UserLevelHistory" id="userLevelHistory">
	<!-- db -->
	<result property="ulhCode" column="ulh_code"/>
	<result property="lCode" column="l_code"/>
	<result property="uId" column="u_id"/> 
	<result property="ulLevel" column="ul_level"/>
	<result property="ulName" column="ul_name"/>
	<result property="uName" column="u_name"/>
	<result property="ulhReason" column="ulh_reason"/>
	<result property="ulhDate" column="ulh_date"/>
</resultMap>
 
<resultMap type="ksmart.pentagon.vo.UserAuthorityHistory" id="userAuthorityHistory">
	<!-- db -->
	<result property="uahCode" column="uah_code"/>
	<result property="lCode" column="l_code"/>
	<result property="uId" column="u_id"/> 
	<result property="uasCode" column="uas_code"/>
	<result property="uasName" column="uas_name"/>
	<result property="uName" column="u_name"/>
	<result property="uahReason" column="uah_reason"/>
	<result property="uahDate" column="uah_date"/>
</resultMap>

<resultMap type="ksmart.pentagon.vo.StudyCate" id="StudyCate">
	<!-- db -->
	<result property="scCode" column="sc_code"/>
	<result property="lCode" column="l_code"/>
	<result property="uId" column="u_id"/> 
	<result property="scName" column="sc_name"/>
	<result property="scDivision" column="sc_division"/>
	<result property="scDate" column="sc_date"/>
</resultMap>

 	<select id="loginCheck" parameterType="String" resultType="ksmart.pentagon.vo.User">
 		SELECT 
 			u_id as uId,
 			u_pw as uPw,
 			u_name as uName,
 			u_division as uDivision
		FROM 
			user
		WHERE u_id = #{uId} and l_code = #{libNum}
 	</select>
 	
 	<insert id="userInsertUser" parameterType="ksmart.pentagon.vo.User">
		<selectKey keyProperty="uNumber" resultType="String" order="BEFORE">
 			SELECT 
 				CONCAT(MAX((u_number)+1))AS uNumber
			FROM user
 		</selectKey>
		
		INSERT INTO user(
			 u_id
			 ,l_code
			 ,u_division
			 ,u_number
			 ,ul_level
			 ,uas_code
			,u_pw
			,u_name
			,u_birth
			,u_addr
			,u_tel
			,u_email
			,u_email_agree
			,u_appointment
			,u_overdue_day
			,u_date
		)VALUES(
			 #{uId}
			,#{lCode}
			,#{uDivision}
			,#{uNumber}
			,#{ulLevel}
			,#{uasCode}
			,#{uPw}
			,#{uName}
			,#{uBirth}
			,#{uAddr}
			,#{uTel}
			,#{uEmail}
			,#{uEmailAgree}
			,#{uAppointment}
			,0
			,CURDATE()
		)
	</insert>
	
	<insert id="userInsertUserLevelHistory">
		<selectKey keyProperty="ulhCode" resultType="String" order="BEFORE">
 			SELECT 
			CONCAT('ulh_',DATE_FORMAT(CURDATE(), '%y%m%d'),
				(IF(DATE_FORMAT(CURDATE(),'%y%m%d') > LEFT(SUBSTRING_INDEX(MAX(ulh.ulh_code), '-', -1),6) 
				, '00001' 
				,LPAD(RIGHT(MAX(ulh.ulh_code),5)+1,5,'0'))))
			FROM 
				user_level_history AS ulh
 		</selectKey>
 		
		INSERT INTO user_level_history(
			 u_id
			 ,l_code
			 ,ulh_code
			,ul_level
			,ulh_reason
			,ulh_date
		)VALUES(
			 #{uId}
			,#{lCode}
			,#{ulhCode}
			,#{ulLevel}
			,#{ulhReason}
			,CURDATE()
		)
	</insert>
	
	<insert id="userInsertUserAuthorityHistory">
	 	<selectKey keyProperty="uahCode" resultType="String" order="BEFORE">
 			SELECT 
			CONCAT('uah_',DATE_FORMAT(CURDATE(), '%y%m%d'),
				(IF(DATE_FORMAT(CURDATE(),'%y%m%d') > LEFT(SUBSTRING_INDEX(MAX(uah.uah_code), '-', -1),6) 
				, '00001' 
				,LPAD(RIGHT(MAX(uah.uah_code),5)+1,5,'0'))))
			FROM 
				user_authority_history AS uah
 		</selectKey>
 		
		INSERT INTO user_authority_history(
			 u_id
			 ,l_code
			 ,uah_code
			,uas_code
			,uah_reason
			,uah_date
		)VALUES(
			 #{uId}
			,#{lCode}
			,#{uahCode}
			,#{uasCode}
			,#{uahReason}
			,CURDATE()
		)
	</insert>
	
	<insert id="userInsertStudyCate">
		<selectKey keyProperty="scCode" resultType="String" order="BEFORE">
 			SELECT 
			CONCAT('sc_',DATE_FORMAT(CURDATE(), '%y%m%d'),
				(IF(DATE_FORMAT(CURDATE(),'%y%m%d') > LEFT(SUBSTRING_INDEX(MAX(sc.sc_code), '-', -1),6) 
				, '00001' 
				,LPAD(RIGHT(MAX(sc.sc_code),5)+1,5,'0'))))
			FROM 
	study_cate AS sc
 		</selectKey>
 		
		INSERT INTO study_cate(
			 u_id
			 ,l_code
			,sc_code
			,sc_name
			,sc_division
			,sc_date
		)VALUES(
			 #{uId}
			,#{lCode}
			,#{scCode}
			,#{scName}
			,#{scDivision}
			,CURDATE()
		)
	</insert>
	
	<select id="myUserDetail" resultMap="userResultMap" parameterType="String">
		SELECT 
			 u.u_id
			,u.l_code
			,u.u_number
			,u.u_division
			,u.u_pw
			,u.u_name
			,u.u_birth
			,u.u_addr
			,u.u_tel
			,u.u_email
			,u.u_email_agree
			,u.u_date
			,u.u_appointment
			,uas.uas_name
			,ul.ul_name
		FROM 
			user AS u
		INNER JOIN 
			user_authority_set AS uas
		ON 
			u.uas_code = uas.uas_code
		INNER JOIN 
			user_level AS ul
		ON 
			u.ul_level = ul.ul_level
		where
			u.u_id = #{getSID}
			AND u.l_code = #{libNum}
	</select>
	
	<select id="getMyUserUpdate" resultMap="userResultMap" parameterType="String">
		SELECT 
			*
		FROM 
			user
		where 
			u_id = #{getSID}
		AND l_code = #{libNum}
	</select>
	
	<update id="myUserUpdate" parameterType="ksmart.pentagon.vo.User" >
		UPDATE 
			user
		SET
			u_division		=#{uDivision}
			,u_pw			=#{uPw}
			,u_name			=#{uName}
			,u_birth		=#{uBirth}
			,u_addr			=#{uAddr}
			,u_tel			=#{uTel}	
			,u_email		=#{uEmail}
			,u_email_agree	=#{uEmailAgree}
			,u_appointment	=#{uAppointment}			
		WHERE 
			u_id = #{getSID}
		AND l_code = #{libNum}
		</update>	
   <select id="deleteUserCheck" resultMap="userResultMap">
		SELECT
		*
		FROM
		user
		WHERE
		u_id=#{SID}	
		AND
		u_pw=#{uPw}
		AND
		l_code=#{libNum}
    </select> 
    <!-- 회원탈퇴 delete-->
 	<delete id="deleteUser">
 		DELETE 
		FROM 
			user 
		WHERE 
			u_id = #{SID}
 	</delete>
     
	
 </mapper>