<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	  
<!-- headAdd(Libs&page) -->
  
	  <th:block layout:fragment="adminHeadAdd">
	  
	  <!-- addLibs -->
	      <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
	      <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/select.dataTables.min.css}">
	  <!-- addPage -->
	  
	    <script th:src="@{/adminStatic/vendor/js/jquery-3.3.1.min.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/jquery.dataTables.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/adminStatic/vendor/js/buttons.html5.min.js}"></script>
		<script th:src="@{/adminStatic/js/tables_datatables_program.js}"></script>
	   
	     
	 
	  </th:block>
	   <!-- headAdd(Libs&page) -->
  	<th:block layout:fragment="adminTitle">
		<title>프로그램 리스트</title>
	</th:block>
<!-- /headAdd(Libs&page) --> 
 
 
  <!-- Content -->
         <th:block layout:fragment="adminContents">
         <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>프로그램(행사, 강좌) 리스트</div>			
		</h4>
         
            <!-- DataTable within card -->

            <div class="card">
              
              <div class="card-datatable table-responsive">
                <table id="myTable" class="datatables-demo table table-striped table-bordered">
                
           
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th data-orderable="false">행사명</th>
                      <th>신청대상</th>
                      <th data-orderable="false">최대인원</th>
                      <th>강사명</th>
                      <th>진행상황</th>
                      <th>운영 기간</th>
                      <th>등록일</th> 
                      <th data-orderable="false">상세보기</th>               
                    </tr>
                  </thead>
                  
                  <tbody>
				    <tr th:each="pro, pl : ${programList}">				      
				      <td class="align-middle" th:text="${pl.count}"></td>
				      <td class="align-middle" th:text="${#strings.abbreviate(pro.pmName,15)}"></td>
				      <td class="align-middle" th:text="${pro.pmTarget}"></td>
				      <td class="align-middle" th:text="${pro.pmMnop}"></td>
				      <td class="align-middle" th:text="${pro.pmTeacherName}"></td>
				      <td class="align-middle" th:text="${pro.pmProgress}"></td>
				      <td class="align-middle" th:text="|${pro.pmStartTerm} ~ ${pro.pmEndTerm}|"></td>
				      <td class="align-middle" th:text="${pro.pmDate}"></td>
				      
				      <td class="align-middle align-center"> 
						   <a th:href="@{/admin/programDetail(pmCode=${pro.pmCode})}" title="상세보기">
								<button title="" class="btn btn-default btn-xs icon-btn md-btn-flat user-tooltip" type="button" data-original-title="Edit">
									 <i class="ion ion-ios-search d-block" title="상세보기"></i>
								</button>
						   </a>
					  </td>
				 		
				    </tr>
				  </tbody> 
                </table>
              </div>
            </div>
	              <div>
						<a th:href="@{/admin/programInsert}" style="color: white"> 
				            <button type="button" class="btn btn-primary d-block" style="margin-top: 10px;">
				            	<span class="ion ion-md-add"> 프로그램 추가</span>
							</button>
						</a>
				  </div>
                        

          </th:block>
          <!-- / Content -->
         
          <!-- script -->
          <th:block layout:fragment="pageScript">

		  <!-- addLibs -->
		    <script th:src="@{/adminStatic/vendor/libs/datatables/datatables.js}"></script> 
		    <script th:src="@{/adminStatic/vendor/libs/datatables/dataTables.select.min.js}"></script>
		
		  <!-- addDemo -->
		    
		  </th:block>
  		  <!-- /script -->
  		  
  		  
          
</html>