<!DOCTYPE html>
<!-- 도서 검색창 페이지 -->
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/library/libraryDefault}">
	
	<th:block layout:fragment="libraryTitle">
		<title>도서검색</title>
	</th:block>
		
     <th:block layout:fragment="customScript">
     <script type="text/javascript" th:inline="javascript">  
       $(document).ready(function(){  
    	   
    		// 유효성검사 시작
    		$('#searchBtn').click(function(){   			
    			var biName = $('#biName');
    			
    			if(biName.val() == ''){
    				alert('검색어를 입력해주세요');
    				biName.focus();
    				return false;
    			}
    			    			
    			$('#searchForm').submit();
    			
    		}); // 유효성검사 끝    		
    	}); // 처음 function끝
    	    	
    	</script>
  	    </th:block>
  	    
    

		<th:block layout:fragment="customContents">                
	        <!-- Start: Page Banner -->
	        <section class="page-banner services-banner" th:fragment="bookBannerFragment">
            <div class="container">
                <div class="banner-header">
                    <h2>도서 검색</h2>
                    <span class="underline center"></span>
                    <p class="lead">검색어를 입력해주세요</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Search</li>
                    </ul>
                </div>
            </div>
        </section>
	        <!-- End: Page Banner -->
	
	        <div id="content" class="site-content" th:fragment="bookListSectionFragment">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="books-media-list">
                        <div class="container">
                            <div class="row">
                                <!-- Start: Search Section -->
                                	<section class="search-filters" th:fragment="searchSectionFragment">
							          <div class="row">
                					    <div class="col-md-11 col-md-push-1">
							              <div class="container">
							                 <div class="filter-box" style="margin: 50px 0 ">
							                      <form id="searchForm" th:action="@{/lifrary/bookDataSearchList}" method="get">							    
							                        <div class="col-md-3 col-sm-6">
							                            <div class="form-group">
							                                <select name="bclCode" id="bclCode" class="form-control">
							                                    <option value="bcl001">단행본</option>
							                                    <option value="bcl002">연속간행물</option>
							                                    <option value="bcl003">비도서</option>                            
							                                </select>
							                            </div>
							                        </div>
							                        <div class="col-md-4 col-sm-6">
							                            <div class="form-group">
							                                <label class="sr-only" for="keywords">자료 검색</label>
							                                <input id="biName" name="biName" class="form-control" placeholder="검색" type="text">
							                            </div>
							                        </div>
							                        <div class="col-md-2 col-sm-6">					                     
							                            <div class="form-group">
							                                <input id="searchBtn" class="form-control" type="button" value="검색">
							                            </div>
							                        </div>
							                        <div class="col-md-2 col-sm-6" style="margin-top: 5px">					                     
							                                <a th:href="@{/lifrary/bookDataSearchDetail}" class="btn btn-dark-gray">상세검색</a>			             
							                        </div>
							                        
							                    </form>
							                 </div>
							               </div>
							             </div>
							           </div>
							        </section>
                                <!-- End: Search Section -->
                            </div>
                          </div>
                     </div>
                </main>
            </div>
        </div>
	       	
        </th:block>

        

</html>