<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/library/libraryDefault}">
    
  <th:block layout:fragment="libraryTitle">
    	<title>..:: 공지사항 리스트 ::..</title>
  </th:block>
	  <th:block layout:fragment="customScript">
			    <!-- addLibs -->
		  <script th:src="@{/adminStatic/vendor/libs/datatables/datatables.js}"></script>
		  <script th:src="@{/adminStatic/vendor/libs/bootstrap-select/bootstrap-select.js}"></script>
		
		  <!-- addDemo -->
		  <script th:src="@{/adminStatic/js/inquiry_list_tables.js}"></script>
		  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
		  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/nouislider/nouislider.css}">
		  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/bootstrap-select/bootstrap-select.css}">
 	 </th:block>
  <th:block layout:fragment="customContents">
    <style>
	a {
	color : #4E5155;
	}
	</style>
	
       <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>공지사항</h2>
                    <span class="underline center"></span>
                    <p class="lead">공지사항을 읽어주세요</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a th:href="@{/}">메인화면</a></li>
                        <li>공지사항 리스트</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Layout content -->
        <div class="layout-content">
			<div style="padding: 190px;">
          <!-- Content -->
          
           <aside id="secondary" class="sidebar widget-area" style="width: 20%;float: left;">
             
             <div class="widget widget_related_search">
                 <h4 class="widget-title" data-control>게시판</h4>
                 <div class="widget_categories">
                     <ul>
                         <li><h3><a th:href="@{/lifrary/noticeList(boardLName=${'공지사항'})}">공지사항</a></h3></li>
                         <li><h3><a th:href="@{/lifrary/inquirySearchList(boardLName=${'문의하기'})}">문의</a></h3></li>
                         <li><h3><a th:href="@{/lifrary/bookReportSearchList}">독후감</a></h3></li>
                         <li><h3><a th:href="@{/lifrary/bookRequestIntro}">희망 도서신청</a></h3></li>
                     </ul>
                 </div>
             </div>
         </aside>
          <div class="container-fluid flex-grow-1 container-p-y" style="width: 70%;float: left;">
         

            <div class="card">
            <h4 id="boardLName" class="font-weight-bold py-3 mb-4">
              <spanclass="text-muted font-weight-light"></span>공지사항
            </h4>
            <br>
	            <div class="table-responsive">
	              <table class="datatables-demo table table-striped table-bordered">
	                <thead>
	                  <tr>
	                    <th style="width: 10%; text-align: center;">번호</th>
	                    <th style="width: 50%; text-align: center;">제목</th>
	                    <th style="width: 10%; text-align: center;">공지사항</th>
	                    <th style="width: 10%; text-align: center;">작성자</th>
	                    <th style="width: 10%; text-align: center;">조회수</th>
	                    <th style="width: 10%; text-align: center;">작성일</th>
	                  </tr>
	                </thead>
	                <tbody>
	                	<th:block th:each="l,pro : ${boardList}">
			                 <tr>
			                  	<td th:text="${pro.count}"></td>
			                  	<td><a th:href="@{/lifrary/noticeDetail(boardCode=${l.boardCode},boardLName=${'공지사항'})}" th:text="${l.boardTitle}"></a></td>
			                  	<td th:text="${l.boardMName}"></td>
			                  	<td th:text="${l.uId}"></td>
			                  	<td th:text="${l.boardPageView}"></td>
			                  	<td th:text="${l.boardDate}"></td>
			                 </tr>
		                </th:block>
	                </tbody>
	              </table>
	   
	            </div>
          	</div>
          </div>
          <div style="clear: both;"></div>
          <!-- / Content -->
        </div>
        </div>
        <!-- Layout content -->
	   <br>
	   <br>
        
        
       
  </th:block>
</html>