<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/library/libraryDefault}">
   <th:block layout:fragment="libraryTitle">
	 <title>희망도서 신청내역</title>
   </th:block>
    
    <th:block layout:fragment="customContents">
       <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>MY REQUEST LIST</h2>
                    <span class="underline center"></span>
                    <p class="lead">나의 희망도서 신청 리스트입니다</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a th:href="@{/}">마이페이지</a></li>
                        <li>희망도서 신청 리스트</li>
                    </ul>
                </div>
            </div>
        </section>
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="main-news-list">
                        <div class="container">
                            <!-- Start: program Search Section -->
                           	
                            <!-- End: Search Section -->
                            <div class="row" style="margin-top: 70px">
                                <div class="col-md-9 col-md-push-3 news-events-list-view" style="padding: 20px;">
                                   
                                   <!-- 프로그램 리스트 반복 출력 --> 
                                   <h3>나의 희망도서 신청 내역</h3> <br>
                                   <table id="myTable" class="datatables-demo table table-striped table-bordered">                         
						                  <thead>
						                    <tr>
						                      <th>신청코드</th>
						                      <th>도서</th>
						                      <th>ISBN</th>
						                      <th>가격</th>
						                      <th>신청일</th>
						                      <th>진행상황</th>
						                      <th>취소사유</th>           
						                    </tr>
						                  </thead>
							                 <tbody>
							                  <th:block th:if="${#lists.size(myRequestList)} > 0">
											    <tr th:each = "l : ${myRequestList}">	
												      <td class="align-middle" th:text="${l.brCode}"></td> <!-- th:text="${l.}"  -->
												      <td class="align-middle" th:text="${l.brTitle}"></td>
												      <td class="align-middle" th:text="${l.brIsbn}"></td>
												      <td class="align-middle" th:text="${l.brPrice}"></td>
												      <td class="align-middle" th:text="${l.brDate}"></td>
												      <td class="align-middle" th:text="${l.brProgress}"></td>
												      <td class="align-middle" th:text="${l.brCancelReason}"></td>												      								 		
											    </tr>
											     </th:block> 
											    <th:block th:unless="${#lists.size(myRequestList)} > 0">
									             <tr>
									            	 <td colspan="7" style="height: 150px; text-align: center;">희망도서 신청 내역이 없습니다</td>
									             </tr>
									            </th:block> 
											  </tbody> 
						                </table>
                                    
                                    
                                    <nav class="navigation pagination text-center" style="margin-bottom: 40px">
				                         <h2 class="screen-reader-text">Posts navigation</h2>
				                         <div class="nav-links">   
				                         	 <span th:if="${currentPage > 1}">
				                             	<a class="prev page-numbers" th:href="@{/lifrary/myBookRequestList(uid=${session.SID},currentPage=(${currentPage}-1))}">
				                                     <i class="fa fa-long-arrow-left"></i> 이전
				                                 </a>
				                             </span>
				                             
				                                              
					                         <th:block th:each="num : ${#numbers.sequence(startPageNum,lastPageNum)}">
										        <span th:if="${currentPage == num}" th:text="${num}" class="page-numbers current"></span>
										        <span th:unless="${currentPage == num}">
										        	<a th:text="${num}" class="page-numbers" th:href="@{/lifrary/myBookRequestList(uid=${session.SID},currentPage=${num})}">
					                                </a>
										    	</span>
										    
										     </th:block>
										      
										      
										                             
				                             <span th:if="${currentPage != lastPage}"> 
				                             	<a class="next page-numbers" th:if="${currentPage != lastPage}" th:href="@{/lifrary/myBookRequestList(uid=${session.SID},currentPage=(${currentPage}+1))}"> 
				                                	 다음<i class="fa fa-long-arrow-right"></i>
				                             	</a>
				                            </span>
				                         </div>
				                     </nav>
                                </div>
                                <!-- 마이페이지 사이드메뉴  -->
                                <div th:replace="fragments/library/myPageLeftMenu :: myPageLeftMenuFragment"></div>
                                <!-- 마이페이지 사이드메뉴-->
                            
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
      
    </th:block>
    
    
    
</html>