<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"	
	  class="default-style">
	  
	<th:block layout:fragment="adminTitle">
		<title>수서-구매관리</title>
	</th:block>
	
	<th:block layout:fragment="teamHeadScript">
	<script type="text/javascript" th:inline="javascript">  
     $(document).ready(function(){
    	 
    	// 도서 정보 가져오기   
    	   $('#bookInfoBtn').click(function(){  			
  				var biIsbn = $('#biIsbn').val();
  				
  				var trimBiIsbn = $.trim(biIsbn);
  				
  				var request = $.ajax({
  					url:"/getBookInfo",
  					method: "POST",
  					data : { 'biIsbn' : trimBiIsbn }, 
  					dataType: "json"
  				});
  				 
  				request.done(function( data ) {
  					
  					var biName      = $('input[name=biName]');
  		 			var biAuthor    = $('input[name=biAuthor]');
  		 			var biPublisher = $('input[name=biPublisher]');
  		 			var biYear      = $('input[name=biYear]');
  					
  		 			biName.val(data.biName);
  		 			biAuthor.val(data.biAuthor);
  		 			biPublisher.val(data.biPublisher);
  		 			biYear.val(data.biYear);
  						
  				});
  				 
  				request.fail(function( jqXHR, textStatus ) {
  					alert( "Request failed: " + textStatus );
  				});
  				
  		});
    	
 		// 유효성검사 시작
 		$('#insertBtn').click(function(){
   			
 			var biIsbn      = $('input[name=biIsbn]');
 			var biName      = $('input[name=biName]');
 			var biAuthor    = $('input[name=biAuthor]');
 			var biPublisher = $('input[name=biPublisher]');
 			var biYear      = $('input[name=biYear]');
 			var bpPrice     = $('input[name=bpPrice]');
 			var bpBookNum   = $('#bpBookNum');
 			
 			
 			
 			if(biIsbn.val() == ''){
 				alert('구매예정 도서의 ISBN을 입력해주세요');
 				biIsbn.focus();
 				return false;
 			}
 			if(biName.val() == ''){
 				alert('구매예정 도서명을 입력해주세요');
 				biName.focus();
 				return false;
 			}
 			if(biAuthor.val() == ''){
 				alert('구매예정 도서의 저서를 입력해주세요');
 				biAuthor.focus();
 				return false;
 			}
 			if(biPublisher.val() == ''){
 				alert('구매예정 도서의 발행자(출판사)를 입력해주세요');
 				biPublisher.focus();
 				return false;
 			}
 			if(biYear.val() == ''){
 				alert('구매예정 도서의 발행년도를 입력해주세요');
 				biYear.focus();
 				return false;
 			}
 			if(bpPrice.val() == ''){
 				alert('구매예정 도서의 가격(1권 기준)을 입력해주세요');
 				bpPrice.focus();
 				return false;
 			}
 			if(bpBookNum.val() == '0'){
 				alert('구매예정 도서의 권수을 입력해주세요');
 				
 				return false;
 			}
 			
 			$('#insertForm').submit();
 			
 		}); // 유효성검사 끝    		
 	 }); // 처음 function끝
    	    	
    	</script>
  	    </th:block>
	 
	          <!-- Content -->
	      <th:block layout:fragment="adminContents">
          <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light">Forms /</span> 구입예정 도서 등록
              

            </h4>

            <div class="card mb-4">
              <div class="card-body">
                <form id="insertForm" th:action="@{/admin/bookPurchaseInsert}" method="post">
                	<div class="form-group ">
	                   <label class="form-label" >ISBN</label>
			            <div class="input-group">
		                  <input type="text" id="biIsbn" name="biIsbn" class="form-control" placeholder="Search for ISBN">
		                 
		                  <span class="input-group-append">
		                    <button id="bookInfoBtn" class="btn btn-secondary" type="button">도서정보 가져오기</button>
		                  </span>
		                </div>        
	                 </div>  
                  <div class="form-row">
	                  <div class="form-group col-md-6">
	                    <label class="form-label" >도서명</label>
	                    <input type="text" class="form-control" name="biName" placeholder="도서명">
	                   <!--  <small class="form-text text-muted">Example block-level help text here.</small> -->
	                  </div>
	                  <div class="form-group col-md-6">
	                    <label class="form-label">저자명</label>
	                    <input type="text" class="form-control" name="biAuthor" placeholder="저자명">
	                  </div>
	              </div>
            	  <div class="form-row">
	                 <div class="form-group col-md-6">
	                   <label class="form-label">발행자</label>
	                   <input type="text" class="form-control" name="biPublisher" placeholder="발행자">
	                 </div>
	                 <div class="form-group col-md-6">
	                   <label class="form-label">발행년도</label>
	                   <input type="text" class="form-control" name="biYear" placeholder="발행년도">
	                 </div>
                  </div>
                  <div class="form-row">
	                  <div class="form-group col-md-6">
	                    <label class="form-label">가격(1권 기준)</label>
	                    <input type="text" class="form-control" name="bpPrice" placeholder="가격">
	                  </div>
	                  <div class="form-group col-md-6">
	                    <label class="form-label">구매예정권수</label>
	                    <select class="form-control" id="bpBookNum" name="bpBookNum">
	                    	<option value="0" selected>::구매예정권수를 선택해주세요::</option>
						    <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"></option>
						</select>
	                   
	                  </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">추가사항</label>
                    <textarea class="form-control" name="bpAdditional" placeholder="추가사항"></textarea>
                  </div>
                  
                  <div class="text-right mt-3">
                  	<button type="button" class="btn btn-primary">
						<a th:href="@{/admin/bookPurchaseList}" style="color: white">리스트로 이동</a>
					</button>
                  	<button type="button" id="insertBtn" class="btn btn-primary">입력</button>
 				  </div>
                </form>
              </div>
            </div>

          </div>
          <!-- / Content -->
	 
  
</html>