<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	  
	<th:block layout:fragment="adminTitle">
		<title>수서-기증신청자 관리</title>
	</th:block>
	  
<!-- headAdd(Libs&page) -->
  
	  <th:block layout:fragment="adminHeadAdd">
	  
	 <!-- addLibs -->
	      <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
	      <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/select.dataTables.min.css}">
	  <!-- addPage -->
	  
	    <script th:src="@{/adminStatic/vendor/js/jquery-3.3.1.min.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/jquery.dataTables.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/adminStatic/vendor/js/buttons.html5.min.js}"></script>
		<script th:src="@{/adminStatic/js/tables_datatables_donation.js}"></script>
	   
	     
	 
	  </th:block>
	  
	 <th:block layout:fragment="teamHeadScript">
     <script type="text/javascript" th:inline="javascript">  
       $(document).ready(function(){  	   	   
    	   $('#deleteBtn').click(function(){
    		   
    		   var SAID = [[${session.SAID}]];

    		   var write = $('#uPw').val();

    		   var bdnCode = $('#bdnCode').val();
    		   
    		   var request = $.ajax({
					url:"/deleteDonation",
					method: "POST",
					data : { 'said' : SAID , 'write' : write ,'bdnCode' : bdnCode }, 
					dataType: "text"
				});				 
				request.done(function( data ) {
					 console.log(data);
					 if(data == '비밀번호가 틀렸습니다'){
						 alert(data);
						 $('#uPw').focus();
					 }else if(data =='도서 삭제가 완료되었습니다'){
						 alert(data);
						 $('#modals-default').modal('hide');
						 location.reload(true);
					 }						
				});				 
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				}); 				
    	   });
    	   
    	}); // 처음 function끝
    	    	
    	</script>
  	    </th:block>
	  
<!-- /headAdd(Libs&page) --> 
 
 
  <!-- Content -->
         <th:block layout:fragment="adminContents">
         
         <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>도서 기부 신청자 리스트</div>
			
	<th:block th:if="${session.SALC} == 'O'">	
		<a th:href="@{/admin/bookDonationInsert}" style="color: white" class="btn btn-primary rounded-pill d-block"> 
		<span class="ion ion-md-add"></span>신청자 추가 </a>
	</th:block>		
			
		 </h4>
         
            <!-- DataTable within card -->

            <div class="card">
              <div class="card-datatable table-responsive">
                <table id="myTable" class="datatables-demo table table-striped table-bordered">
                
               
                
                  <thead>
                    <tr>
                      <th>성명</th>
                      <th>연락처</th>
                      <th>주소</th>
                      <th>권수</th>
                      <th>개인정보수집</th>
                      <th>기증스티커</th>
                      <th>명예전당</th>
                      <th>신청일</th> 
                      <th>상세&수정</th>
                      <th>삭제</th>                 
                    </tr>
                  </thead>
                  
                  <tbody>
				    <tr th:each="d : ${donationList}">
				      <td class="align-middle" th:text="${d.bdnName}"></td>
				      <td class="align-middle" th:text="${d.bdnTel}"></td>
				      <td class="align-middle" th:text="${d.bdnAddr}"></td>
				      <td class="align-middle" th:text="${d.bdnNum}"></td>
				      <td class="align-middle text-center">
				      	 <span th:if="${d.bdnPersonal eq 'O'}" class="badge badge-outline-success" >동의</span>
				     	 <span th:unless="${d.bdnPersonal eq 'O'}" class="badge badge-outline-danger">비동의</span>
				      </td>
				      <td class="align-middle text-center">
				      	 <span id="bdnSticker" th:if="${d.bdnSticker eq 'O'}">
				      	 	<a class="badge badge-outline-success" th:href="@{/updateSticker(bdnCode=${d.bdnCode},bdnSticker=${d.bdnSticker})}">부착</a>
				      	 </span>
				     	 <span id="bdnSticker" th:unless="${d.bdnSticker eq 'O'}">
				     	 	<a class="badge badge-outline-danger" th:href="@{/updateSticker(bdnCode=${d.bdnCode},bdnSticker=${d.bdnSticker})}">미부착</a>
				     	 </span>						      
				      </td>
				      <td class="align-middle text-center">
				      	 <span id="bdnHonorAgree" th:if="${d.bdnHonorAgree eq 'O'}">
				      		<a class="badge badge-outline-success" th:href="@{/updateHonor(bdnCode=${d.bdnCode},bdnHonorAgree=${d.bdnHonorAgree})}"> 등록</a>
				      	 </span>
				         <span id="bdnHonorAgree" th:unless="${d.bdnHonorAgree eq 'O'}">
			                <a class="badge badge-outline-danger" th:href="@{/updateHonor(bdnCode=${d.bdnCode},bdnHonorAgree=${d.bdnHonorAgree})}"> 미등록</a>
				         </span>
				      </td>
				      <td class="align-middle" th:text="${d.bdnDate}"></td>	
				      <td class="align-middle text-center">
					  	 <a th:href="@{/admin/bookDonationUpdate(bdnCode=${d.bdnCode})}" class="btn btn-default btn-xs icon-btn md-btn-flat" title="수정">
						 	<i class="ion ion-md-create" title="수정"></i>
					  	 </a>
                      </td> 
                      <td class="align-middle text-center">
                      <input type="hidden" name="bdnCode" id="bdnCode" th:value="${d.bdnCode}">    
                      <button type="button" class="btn btn-default btn-xs icon-btn md-btn-flat" data-toggle="modal" data-target="#modals-default">
                      		<i class="ion ion-ios-cut d-block"  title="삭제"></i>
                      </button>            
						  
                      </td>	
				    </tr>
				  </tbody> 
                </table>
              </div>
            </div>
            
            <th:block th:if="${session.SALC} == 'O'">
            <div style="margin-top: 20px">
			    <a th:href="@{/admin/bookDonationFile}" class="btn rounded-pill btn-outline-primary"> 
				<span class="ion ion-md-add"></span>홈페이지 신청서 업로드 </a>
			</div>		
			</th:block>	
			
            <div class="modal fade" id="modals-default">
                  <div class="modal-dialog">
                    <form class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">
                          	기부 신청자 목록 삭제
                          
                          <br>
                          <small class="text-muted">정말 삭제 하시겠습니까? 삭제하시는 경우 복구가 불가능한 목록입니다.<br>
                                                            삭제를 위하여 본인 id의 password를 작성해 주세요.</small>
                        </h5>
                        <a th:href="@{/admin/bookDonationList}" type="button" class="close" data-dismiss="modal" aria-label="Close">×</a>
                      </div>
                      <div class="modal-body">
                      	<div class="form-row">
                          <div class="form-group col">
                            <label class="form-label">ID</label>
                            <input id="uId" type="text" class="form-control" th:value="${session.SAID}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col">
                            <label class="form-label">PASSWORD</label>
                            <input id="uPw" type="password" class="form-control" placeholder="***********">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a th:href="@{#}" id="deleteBtn" type="button" class="btn btn-primary">삭제</a>
                      </div>
                    </form>
                  </div>
                </div>
 

          </th:block>
          
          <!-- / Content -->
         
          <!-- script -->
          <th:block layout:fragment="pageScript">

		  <!-- addLibs -->
		    <script th:src="@{/adminStatic/vendor/libs/datatables/datatables.js}"></script> 
		    <script th:src="@{/adminStatic/vendor/libs/datatables/dataTables.select.min.js}"></script>
		
		  <!-- addDemo -->
		    
		  </th:block>
  		  <!-- /script -->
  		  
  		  
          
</html>