<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	  
<!-- headAdd(Libs&page) -->
	  <th:block layout:fragment="adminTitle">
		<title>수서-희망도서 관리</title>
	  </th:block>
	  
	 <th:block layout:fragment="teamHeadScript">
     <script type="text/javascript"> 
     
     	function show(brCode){
		   
		   var brCode = brCode;
	    	
		   $('#brCode2').val(brCode);
		   $("#modals-default").modal('show');

	    };

	    
	    $(document).on('click','#applyBtn', function(){  
   				var brProgress = $('[name="brProgress"]:checked').val();
   				var brCode2 = $('#brCode2').val();
   				var brCancelReason = $('#brCancelReason').val();

   				
    		   var request = $.ajax({
					url:"/updateProgress",
					method: "POST",
					data : { 'brCode':brCode2 , 'brProgress':brProgress , 'brCancelReason':brCancelReason }, 
					dataType: "json"
				});				 
				request.done(function( data ) {
					 console.log(data);
					 if(data == 1){
						 alert("상태변경이 정사적으로 완료되었습니다.");
						 $('#modals-default').modal('hide');
						 location.reload(true);
					 }else{
						 alert("다시 시도해 주세요");
					 }
 			
				});				 
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				}); 				
    	   
    	}); // 처음 function끝
    	    	
    	</script>
  	    </th:block>
	
  
	  <th:block layout:fragment="adminHeadAdd">
	  
	  <!-- addLibs -->
	      <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
	      <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/select.dataTables.min.css}">
	  <!-- addPage -->
	  
	    <script th:src="@{/adminStatic/vendor/js/jquery-3.3.1.min.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/jquery.dataTables.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/adminStatic/vendor/js/buttons.html5.min.js}"></script>
		<script th:src="@{/adminStatic/js/tables_datatables_request.js}"></script>
	   
	     
	 
	  </th:block>
	  
<!-- /headAdd(Libs&page) --> 
 
 
  <!-- Content -->
         <th:block layout:fragment="adminContents">
         
            <!-- DataTable within card -->
            
         <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>희망도서 신청 리스트</div>
			
		 </h4>

            <div class="card">
              <div class="card-datatable table-responsive">
                <table id="myTable" class="datatables-demo table table-striped table-bordered">
                
               
                
                  <thead>
                    <tr>
                      <th>신청자</th>
                      <th>도서명</th>
                      <th>ISBN</th>
                      <th>발행년도</th>
                      <th>가격</th>
                      <th>저자명</th>
                      <th>발행자 </th>
                      <th>진행상황</th>
                      <th>신청일</th>
                      <th>상세</th>                     
                    </tr>
                  </thead>
                  
                  <tbody>
				    <tr th:each="r : ${requestList}">
				      <td class="align-middle" th:text="${r.uId}"></td>
				      <td class="align-middle" th:text="${r.brTitle}"></td>
				      <td class="align-middle" th:text="${r.brIsbn}"></td>
				      <td class="align-middle" th:text="${r.brYear}"></td>
				      <td class="align-middle" th:text="${r.brPrice}"></td>
				      <td class="align-middle" th:text="${#strings.abbreviate(r.brAuthor,7)}"></td>
				      <td class="align-middle" th:text="${r.brPublisher}"></td>
				      <td class="align-middle text-center" data-toggle="modal" data-target="#modals-default">
				      	 <span th:if="${r.brProgress eq '취소'}" class="badge badge-outline-danger"
				      	 th:attr="onclick=|javascript:show('${r.brCode}')|">[[${r.brProgress}]]</span>
				         <span th:unless="${r.brProgress eq '취소'}"  class="badge badge-outline-success"
				         th:attr="onclick=|javascript:show('${r.brCode}')|">[[${r.brProgress}]]</span>
				      </td>
				      <td class="align-middle" th:text="${r.brDate}"></td>
				      <td class="align-middle text-center">
			      	
						   <a th:href="@{/admin/requestDetail(brCode=${r.brCode})}" class="btn btn-default btn-xs icon-btn md-btn-flat" title="상세">
							 <i class="ion ion-ios-copy" title="상세"></i>
						   </a>
						
					  </td>
				    </tr>
				  </tbody> 
                </table>
              </div>
            </div>
            
            <div class="modal fade" id="modals-default">
               <div class="modal-dialog">
                 <form class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title">
                       	진행상황 변경
                     </h5>
                     <a th:href="@{/admin/bookOrderList}"  type="button" class="close" data-dismiss="modal" aria-label="Close">×</a>
                   </div>
                   <div class="modal-body">
                   	  <div class="form-row">
	                    <div class="form-group col-md-6">
	                       <label class="custom-control custom-radio">
	                       		<input type="hidden" id="brCode2">             		   	
		               		   	<input name="brProgress" type="radio" class="custom-control-input" value="접수완료">
		               		   	<span class="custom-control-label">접수완료</span>
	                       </label>
	                       <label class="custom-control custom-radio">
	                 		   	<input name="brProgress" type="radio" class="custom-control-input" value="심사중">
	                 		   	<span class="custom-control-label">심사중</span>
	                       </label>	
	                       <label class="custom-control custom-radio">
	                 		   	<input name="brProgress" type="radio" class="custom-control-input" value="취소">
	                 		   	<span class="custom-control-label">취소</span>
	                       </label>	
	                    </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col">
                          <label class="form-label">취소 사유 (상태를 취소로 변경하는 경우 꼭 사유를 작성해 주세요)</label>
                          <input id="brCancelReason" type="text" class="form-control" >
                        </div>
                      </div>
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button id="applyBtn" type="button" class="btn btn-primary">적용</button>
                   </div>
                 </form>
               </div>
             </div>
                        

          </th:block>
          
          <!-- / Content -->
         
          <!-- script -->
          <th:block layout:fragment="pageScript">

		  <!-- addLibs -->
		    <script th:src="@{/adminStatic/vendor/libs/datatables/datatables.js}"></script> 
		    <script th:src="@{/adminStatic/vendor/libs/datatables/dataTables.select.min.js}"></script>
		
		  <!-- addDemo -->
		    
		  </th:block>
  		  <!-- /script -->
  		  
  		  
          
</html>