<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
 <!-- headAdd(Libs&page) -->
 <th:block layout:fragment="adminTitle">
	<title>예약 관리</title>
 </th:block>
  
  <th:block layout:fragment="adminHeadAdd">
  
  <!-- addLibs -->  
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/nouislider/nouislider.css}">
  </th:block>
  
  <!-- /headAdd(Libs&page) --> 
  
  <!-- teamScript -->
  <th:block layout:fragment="teamHeadScript">
  	<script type="text/javascript" th:inline="javascript">
  	 /*<![CDATA[*/  	
	  	var resultDelete = [[ ${resultDelete} ]];//예약취소 결과
	/*]]*/	
  	 	if(resultDelete == 1){
			alert('정상적으로 취소되었습니다');
		}
  	</script>
  
  </th:block>
  <!-- / teamScript  -->
  
  <!-- Content -->
  <th:block layout:fragment="adminContents">
	<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>예약 관리</div>
	</h4>
	<div class="card">
	    <div class="card-datatable table-responsive">
	      <table class="datatables-demo table table-striped table-bordered">
	        <thead>
	          <tr>
	            <th>도서코드</th>
	            <th>도서명</th>
	            <th>회원번호</th>
	            <th>회원명</th>
	            <th>예약일</th>
	            <th>예약상태</th>
	            <th>상세보기</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr th:each="H : ${holdList}">
	            <td class="align-middle" th:text="${H.bsCode}"></td>
	            <td style="min-width: 300px;">
             	 	<div class="media align-items-center">
             	 		<img class="ui-w-40 d-block" th:src="${H.biImg}" alt="">
             	 		<span class="media-body d-block text-body ml-3" th:text="${#strings.abbreviate(H.biName,25)}"></span>
             	 	</div>
             	 </td>
	            <td class="align-middle" th:text="${H.uNumber}"></td>
	            <td class="align-middle" th:text="${H.uName}"></td>
	            <td class="align-middle" th:text="${H.blHoldDate}"></td>
	            <td class="align-middle text-center" th:if = "${H.blReturnDate == null}">
	            	<a th:if ="${session.SALBA eq 'O'}" th:href="@{/admin/holdDelete(blCode=${H.blCode}, bsCode=${H.bsCode})}">
			    		<span class="badge badge-outline-success">예약취소</span>
			    	</a>
			    	<span th:unless ="${session.SALBA eq 'O'}" class="badge badge-outline-success">예약</span>	
                </td>
                <td class="align-middle text-center" th:unless = "${H.blReturnDate == null}">
                	<span class="badge badge-outline-secondary">취소완료</span>
                </td>
                <td class="align-middle">
	             	<a th:href="@{/admin/stockDetail(bsCode=${H.bsCode})}" class="btn btn-default btn-xs icon-btn md-btn-flat" title="도서정보" data-original-title="도서정보" >
	             		<i class="fas fa-book"></i>
	             	</a>
	             	<a th:href="@{/admin/adminUserDetail(uId=${H.blId})}" class="btn btn-default btn-xs icon-btn md-btn-flat" title="회원정보" data-original-title="회원정보" >
	             	 	<i class="fas fa-user-alt"></i>
	             	</a>
                </td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
	  </div>
  </th:block>
  <!-- Content -->
 
  <!-- / scripts -->
  <th:block layout:fragment="pageScript">
  
  <!-- addLibs -->
  <script th:src="@{/adminStatic/vendor/libs/datatables/datatables.js}"></script>

  <!-- addDemo -->
  <script th:src="@{/adminStatic/js/book_reservation_tables.js}"></script>
  
  </th:block>
   
  <!-- teamScript  -->
  <th:block layout:fragment="adminFootScript">

  </th:block>
  <!--/ teamScript -->

  <!-- / scripts -->
  
</html>