<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	  
<!-- headAdd(Libs&page) -->
  
	  <th:block layout:fragment="adminHeadAdd">
	  
	  <!-- addLibs -->
	      <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
	      <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/select.dataTables.min.css}">
	  <!-- addPage -->
	  
	    <script th:src="@{/adminStatic/vendor/js/jquery-3.3.1.min.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/jquery.dataTables.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/adminStatic/vendor/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/adminStatic/vendor/js/buttons.html5.min.js}"></script>
		<script th:src="@{/adminStatic/js/tables_datatables_facility.js}"></script>

	  </th:block>
	   <!-- headAdd(Libs&page) -->
  	<th:block layout:fragment="adminTitle">
		<title>공공 시설 리스트</title>
	</th:block>
 <!-- teamScript(각페이지에서 각자 구현할 자바스크립트)  -->
 	<th:block layout:fragment="teamHeadScript">
 		<script th:inline="javascript">
  		$(document).ready(function(){
  			
  			onload = function(){ 											// 페이지가 로드될때 실행
  				var nowKinds = [[${nowKinds}]]; 							// 라디오버튼을 클릭후 model에 담겨온 시설종류
  				for(var i = 0; i < $('.kRadio').length; i++){ 				// 라디오버튼의 길이만큼 반복
  					if($('.kRadio')[i].value == nowKinds){ 					// 라디오버튼의 i번째 value가 넘어온 시설명과 같으면
  						$('.kRadio')[i].checked = true;   					// 체크해준다.
  					}else{								  					// 라디오버튼의 i번째 value가 넘어온 시설명과 같지않으면
  						$('.kRadio')[i].checked = false;  					// 체크를 해제한다.
  					}
  				}
  			}	  						  				
  			$(document).on('click','.kRadio',function(){					//라디오버튼 클릭시
  				var fKinds = $(this).val(); 								//누른 라디오버튼의 value를 fKinds에 저장
  				if(fKinds == '전체'){											//value가 '전체'이면
	  				location.href = '/admin/facilityList';					//fKinds가 없이 경로로 보내줌. (컨트롤러에서 전체 리스트 가져옴)
  				}else{														//value가 '전체가 아니면
	  				location.href = '/admin/facilityList?fKinds='+fKinds;	//fKinds를 get방식으로 보내줌. (컨트롤러에서 받은 종류의 리스트를 가져옴)
  				}
  			})
  		})
 		</script>
 	</th:block>
 <!-- / teamScript(각페이지에서 각자 구현할 자바스크립트)  -->
	  
<!-- /headAdd(Libs&page) --> 
 
 
  <!-- Content -->
         <th:block layout:fragment="adminContents">
         <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>공공시설 등록 리스트</div>			
		 </h4>
         
            <!-- DataTable within card -->

            <div class="card">
              
              <div class="card-datatable table-responsive">
                <table id="myTable" class="datatables-demo table table-striped table-bordered">
                
           
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>시설명</th>
                      <th>시설위치</th>
                      <th data-orderable="false">수용인원</th>
                      <th>이용성별</th>
                      <th>사용시간</th>
                      <th>등록일</th> 
                      <th>등록일</th> 
                    </tr>
                  </thead>
                  
                  <tbody>
				    <tr th:each="fac, fl : ${facilityList}">				      
				      <td class="align-middle" th:text="${fl.count}"></td>
				      <td class="align-middle"><a th:href="@{/admin/facilityDetail(fCode =${fac.fCode})}" th:text="${fac.fName}"></a></td>
				      <td class="align-middle" th:text="${fac.fLocation}"></td>
				      <td class="align-middle" th:text="${fac.fAccommodate}"></td>
				      <td class="align-middle" th:text="${fac.fGender}"></td>
				      <td class="align-middle" th:text="${fac.fTerm}"></td>
				      <td class="align-middle" th:text="${fac.fDate}"></td>		 		
				      <td class="align-middle" th:text="${fac.fDate}"></td>		 		
				    </tr>
				  </tbody> 
                </table>
                <hr>
                <div style="padding-left: 20px; padding-top: 20px;">
				    <label>
				            전체     <input type="radio" value="전체" name = "fKinds" class="kRadio" checked="checked">
				    </label>
	                <label style="padding-left: 20px;">
				          열람실 	<input type="radio" value="열람실" name = "fKinds" class="kRadio">
				    </label>
				    <label style="padding-left: 20px;">
				           스터디룸    <input type="radio" value="스터디룸" name = "fKinds" class="kRadio">
				    </label>
				    <label style="padding-left: 20px;">
				           강연실    <input type="radio" value="강연실" name = "fKinds" class="kRadio">
				    </label>
				    <label style="padding-left: 20px;">
				           사물함     <input type="radio" value="사물함" name = "fKinds" class="kRadio">
				    </label>
                </div>
                
              </div>
            </div>
	              <div>
						<a th:href="@{/admin/facilityInsert}" style="color: white"> 
				            <button type="button" class="btn btn-primary d-block" style="margin-top: 10px;">
				            	<span class="ion ion-md-add"> 시설 추가</span>
							</button>
						</a>
				  </div>
                        

          </th:block>
          <!-- / Content -->
         
          <!-- script -->
          <th:block layout:fragment="pageScript">

		  <!-- addLibs -->
		    <script th:src="@{/adminStatic/vendor/libs/datatables/datatables.js}"></script> 
		    <script th:src="@{/adminStatic/vendor/libs/datatables/dataTables.select.min.js}"></script>
		
		  <!-- addDemo -->
		    
		  </th:block>
  		  <!-- /script -->
  		  
  		  
          
</html>