<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="default-style">

<!-- script -->

	<th:block layout:fragment="adminScript">
	<!-- Core scripts -->
	<script th:src="@{/adminStatic/vendor/libs/popper/popper.js}"></script>
	<script th:src="@{/adminStatic/vendor/js/bootstrap.js}"></script>
	<script th:src="@{/adminStatic/vendor/js/sidenav.js}"></script>
	
	<!-- Libs -->
	<script th:src="@{/adminStatic/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
	
	<!-- Demo -->
	<script th:src="@{/adminStatic/js/demo.js}"></script>
	</th:block>

    <!-- teamScript(각페이지에서 각자 구현할 자바스크립트)  -->
	<th:block layout:fragment="adminFootScript"></th:block>
    <!--/ teamScript(각페이지에서 각자 구현할 자바스크립트)  -->

<!-- /script -->
    
</html>