 <!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" class="default-style">
 
 <!-- Layout sidenav -->
      <div th:fragment="adminSideNav" id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">

        <!-- Brand demo (see assets/css/demo/demo.css) -->
        <div class="app-brand demo">
          
          <a th:href="@{/admin/index}" class="app-brand-text demo sidenav-text font-weight-normal ml-2">LIFRARY ADMIN</a>
          <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
            <i class="ion ion-md-menu align-middle"></i>
          </a>
        </div>

        <div class="sidenav-divider mt-0"></div>

        <ul class="sidenav-inner py-1">
         
          <!--User Management -->
		  <li class="sidenav-header small font-weight-semibold">User Management</li>
          <!-- 회원 관리 -->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
            <i class="sidenav-icon fas fa-user-alt"></i>
              <div>1.회원 관리</div>
            </a>
            <ul class="sidenav-menu">
              <li class="sidenav-item ">
                <a th:href="@{/admin/userSearchList}" class="sidenav-link">
                  <div>회원 관리</div>
                </a>
              </li>
              <li class="sidenav-item">
			    <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                  <div>회원 등급 관리</div>
                </a>
				<ul class="sidenav-menu">
                  <li class="sidenav-item">
                    <a th:href="@{/admin/adUserLevelList}"  class="sidenav-link">
                      <div>회원 등급 설정</div>
                    </a>
                  </li>
                  <li class="sidenav-item">
                    <a th:href="@{/admin/adUserLevelHistorySearchList}"  class="sidenav-link">
                      <div>회원 등급 이력</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="sidenav-item">
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                  <div>회원 권한 관리</div>
                </a>
                <ul class="sidenav-menu">
                  <li class="sidenav-item">
                    <a th:href="@{/admin/adUserAuthorityList}"  class="sidenav-link">
                      <div>회원 권한 설정</div>
                    </a>
                  </li>
                  <li class="sidenav-item">
                    <a th:href="@{/admin/adUserAuthorityHistorySearchList}"  class="sidenav-link">
                      <div>회원 권한 이력</div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          
          <!-- 사서 관리 -->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon fas fa-user-shield"></i>
              <div>2.사서 관리</div>
            </a>
            <ul class="sidenav-menu">
            <th:block th:if="${session.SADIV} == '관리자'"> 
              <li class="sidenav-item">
                <a th:href="@{/admin/librarianMyDetail}" class="sidenav-link">
                  <div>사서 나의관리</div>
                </a>
              </li>
            </th:block>
            <th:block th:unless="${session.SADIV} == '관리자'"> 
              <li class="sidenav-item">
                <a th:href="@{/admin/librarianMyDetail}" class="sidenav-link">
                  <div>사서 나의관리</div>
                </a>
              </li>
            </th:block>
             <!-- <th:block th:unless="${session.SADIV} == '사서'"> -->
             <th:block th:if="${session.SADIV} == '관리자'">
              <li class="sidenav-item">
                <a th:href="@{/admin/librarianLevelList}" class="sidenav-link">
                  <div>사서 권한 설정</div>
                </a>
              </li>
             </th:block>
            </ul>
          </li>
          
          <!-- 포인트 관리 -->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon fas fa-coins"></i>
              <div>3.포인트 관리</div>
            </a>
            <ul class="sidenav-menu">
              <li class="sidenav-item">
                <a th:href="@{/admin/pointList}" class="sidenav-link">
                  <div>포인트 설정</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{/admin/pointHistoryList}" class="sidenav-link">
                  <div>포인트 사용 내역</div>
                </a>
              </li>
            </ul>
          </li>
          
		  <!--Book Management -->
          <li class="sidenav-divider mb-1"></li><!-- 줄선  -->
          <li class="sidenav-header small font-weight-semibold">Book Management</li>
             
          
          <!-- 수서 관리 -->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon fas fa-download"></i>
              <div>4.수서 관리</div>
            </a>

            <ul class="sidenav-menu">
              <li class="sidenav-item">
                <a th:href="@{/admin/requestSearchList}" class="sidenav-link">
                  <div>희망도서 관리</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{/admin/bookPurchaseList}" class="sidenav-link">
                  <div>구입예정도서 관리</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{/admin/bookOrderList}" class="sidenav-link">
                  <div>주문도서 관리</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{/admin/bookDonationList}" class="sidenav-link">
                  <div>도서 기증자 관리</div>
                </a>
              </li>
            </ul>
          </li>


		<!-- 도서관리 -->
		<li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
              <i class="sidenav-icon fas fa-book"></i>
              <div>5.도서 관리</div>
            </a>
            <ul class="sidenav-menu">
              <li class="sidenav-item"> 
                <a href="javascript:void(0)" class="sidenav-link sidenav-toggle">
                  <div>도서 관리</div>
                </a>
                <ul class="sidenav-menu"> 
                  <li class="sidenav-item"> 
                    <a th:href="@{/admin/stockSearchList}" class="sidenav-link">
                      <div>도서목록</div>
                    </a>
                  </li> 
                  <li class="sidenav-item"> 
                    <a th:href="@{/admin/stockDeleteList}" class="sidenav-link">
                      <div>삭제도서 목록</div>
                    </a>
                  </li> 
                </ul> 
              </li>
              <li class="sidenav-item"> 
                <a th:href="@{/admin/stockCheckList}" class="sidenav-link">
                  <div>장서 점검</div>
                </a>
              </li>
              </ul> 
          </li>

          <!-- 대출/반납/예약 관리 -->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-filing"></i>
              <div>6.대출/반납/예약 관리</div>
            </a>

            <ul class="sidenav-menu">
              <li class="sidenav-item">
                <a th:href="@{/admin/lendSearchList}" class="sidenav-link">
                 <div>대출/반납 관리</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{/admin/holdSearchList}" class="sidenav-link">
                   <div>예약 관리</div>
                </a>
              </li>
            </ul>
          </li>

		  <!--Library Management -->
          <li class="sidenav-divider mb-1"></li><!-- 줄선  -->
          <li class="sidenav-header small font-weight-semibold">Library Management</li>
                  
          <!-- 게시판 관리 -->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-clipboard"></i>
              <div>7.게시판 관리</div>
            </a>
            <ul class="sidenav-menu">
              <li class="sidenav-item">
                <a th:href="@{/admin/noticeSearchList(boardLName=${'공지사항'})}" class="sidenav-link">
                  <div>공지사항</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{/admin/noticeSearchList(boardLName=${'문의하기'})}" class="sidenav-link">
                  <div>문의</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{/admin/bookRecommendList}" class="sidenav-link">
                  <div>추천도서</div>
                </a>
              </li>
            </ul>
          </li>
          
          <!--  공공시설 관리-->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon fas fa-building"></i>
              <div>8.공공시설 관리</div>
            </a>

            <ul class="sidenav-menu">
              <li class="sidenav-item">
                <a th:href="@{/admin/facilityList}" class="sidenav-link">
                  <div>공공시설 등록 리스트</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{/admin/facilityReservationSearchList}" class="sidenav-link">
                  <div>공공시설 신청 내역</div>
                </a>
              </li>
            </ul>
          </li>

          <!--  프로그램 관리 -->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon fas fa-chalkboard-teacher"></i>
              <div>9.프로그램 관리</div>
            </a>

            <ul class="sidenav-menu">              
              <li class="sidenav-item">
                <a th:href="@{/admin/programSearchList}" class="sidenav-link">
                  <div>등록 프로그램 리스트</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{/admin/programApplySearchList}" class="sidenav-link">
                  <div>프로그램 신청 내역</div>
                </a>
              </li>
            </ul>
          </li>
          <!--  도서관 일정 관리 -->
          <li class="sidenav-item">
            <a th:href="@{#}" class="sidenav-link"><i class="sidenav-icon far fa-calendar-alt"></i>
              <div>10.도서관 일정 관리</div>
            </a>
          </li>
          
          <!-- Statistics Management -->
          <li class="sidenav-divider mb-1"></li><!-- 줄선  -->
          <li class="sidenav-header small font-weight-semibold">Statistics Management</li>
                  
          <!-- 통계 관리 -->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-md-pie"></i>
              <div>11.통계 관리</div>
            </a>
            <ul class="sidenav-menu">
              <li class="sidenav-item">
                <a th:href="@{#}" class="sidenav-link">
                  <div>#회원</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{#}" class="sidenav-link">
                  <div>#도서</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- Print -->
          <li class="sidenav-divider mb-1"></li><!-- 줄선  -->
          <li class="sidenav-header small font-weight-semibold">Print</li>
                  
          <!-- 출력 관리 -->
          <li class="sidenav-item">
            <a href="javascript:void(0)" class="sidenav-link sidenav-toggle"><i class="sidenav-icon ion ion-ios-print"></i>
              <div>12.출력</div>
            </a>
            <ul class="sidenav-menu">
              <li class="sidenav-item">
                <a th:href="@{#}" class="sidenav-link">
                  <div>#회원증</div>
                </a>
              </li>
              <li class="sidenav-item">
                <a th:href="@{#}" class="sidenav-link">
                  <div>#도서</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- / Layout sidenav -->
 </html>     