<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">

 <!-- headAdd(Libs&page) -->
 <th:block layout:fragment="adminTitle">
	<title>도서목록</title>
 </th:block>
  
  <th:block layout:fragment="adminHeadAdd">
  
  <!-- addLibs -->
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/nouislider/nouislider.css}">

  <!-- addPage -->
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/css/pages/products.css}">
  </th:block>
  
   <th:block layout:fragment="teamHeadScript">
   <script type="text/javascript"> 
   
   function page(bsCode) {
      
       var bsCode = bsCode;
       location.href="stockDetail?bsCode="+bsCode;
   }
    
   </script>
   </th:block>
  
 
	<!-- Content -->
   <th:block layout:fragment="adminContents">   
		<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>전체 도서 관리</div> 
<th:block th:if="${session.SALBS} == 'O'">
 	 <a th:href="@{/admin/stockDetailInsert}" class="btn btn-primary rounded-pill d-block"> 도서 추가 
 	   <span class="ion ion-md-add"></span>
 	 </a>
</th:block>
		</h4>

	<div class="card">
    	<div class="card">
              <div class="card-datatable table-responsive">
                <table class="datatables-demo table table-hover table-bordered">
                  <thead>
                    <tr >
                      <th>도서코드</th>
                      <th>도서명</th>
                      <th>청구기호</th>
                      <th>ISBN</th>
                      <th>책상태</th>
                      <th>대출가능상태</th>
                      <th>반입구</th>
                      <th>등록일자</th>
                      <th>상세</th>              
                    </tr>
                  </thead>
                  <tbody>
	                  <tr role="row" th:each="l: ${stockList}" th:attr="onclick=|javascript:page('${l.bsCode}')|">
	                    <td class="align-middle" th:text="${l.bsCode}"></td>
	                    <td style="min-width: 170px;">
			               	 	<div class="media align-items-center">
			               	 		<img class="ui-w-40 d-block" th:src="${l.bookInformation.biImg}" alt="이미지 없음">
			               	 		<span class="media-body d-block text-body ml-3" th:text="${#strings.abbreviate(l.bookInformation.biName,18)}"></span>
			               	 	</div>
			            </td>
	                    <td class="align-middle" th:text="${l.bsCallNum}"></td> 
	                    <td class="align-middle" th:text="${l.bookInformation.biIsbn}"></td>
	                    <td class="align-middle" th:text="${l.bsBookState}"></td>
	                    <td class="align-middle text-center"> 
					      <span th:if="${l.bsLendState eq 'O'}" class="badge badge-outline-success">대출가능</span>
					      <span th:unless="${l.bsLendState eq 'O'}" class="badge badge-outline-danger">대출불가</span>
					    </td>
	                    <td class="align-middle" th:text="${l.bsCarryRoute}"></td>
	                    <td class="align-middle" th:text="${l.bsDate}"></td>
	                    <td class="align-middle text-center">			      		
						   <a th:href="@{/admin/stockDetail(bsCode=${l.bsCode})}"  class="btn btn-default btn-xs icon-btn md-btn-flat" title="상세">
							 <i class="ion ion-ios-copy" title="상세"></i>
						   </a>						
					    </td>
	                  </tr>
                  </tbody>
                </table>
              </div>
            </div>          
    </div>
	</th:block>
	<!-- / Content -->
 	<!-- scripts -->
	
	<th:block layout:fragment="pageScript">
	
	<!-- addLibs -->
	<script th:src="@{/adminStatic/vendor/libs/datatables/datatables.js}"></script>
	<script th:src="@{/adminStatic/vendor/libs/numeral/numeral.js}"></script>
	<script th:src="@{/adminStatic/vendor/libs/nouislider/nouislider.js}"></script>

	<!-- addDemo -->
	<script th:src="@{/adminStatic/js/book_stock_list_tables.js}"></script>
	</th:block>
	<!-- / scripts -->
	          
</html>
