<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">

 <!-- headAdd(Libs&page) -->
 
 <th:block layout:fragment="adminTitle">
	<title>삭제도서목록</title>
 </th:block>
  
  <th:block layout:fragment="adminHeadAdd">
  
  
  <!-- addLibs -->
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/nouislider/nouislider.css}">

  <!-- addPage -->
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/css/pages/products.css}">
  </th:block>
  
   <th:block layout:fragment="teamHeadScript">
   <script type="text/javascript" th:inline="javascript">  
       $(document).ready(function(){  	
    	   
    	   // 복구 버튼
    	   $('#resetBtn').click(function(){
    		   var SAID = [[${session.SAID}]]
    		   var write = $('#uPw').val();
    		   var bsCode = $('#bsCode').val();

    		   
    		   var request = $.ajax({
					url:"/resetStock",
					method: "POST",
					data : { 'said' : SAID , 'write' : write ,'bsCode' :bsCode }, 
					dataType: "text"
				});				 
				request.done(function( data ) {

					 if(data == '비밀번호가 틀렸습니다'){
						 alert(data);
						 $('#uPw').focus();
					 }else if(data =='도서 복구가 완료되었습니다'){
						 alert(data);
						 $('#modals-default').modal('hide');						
					 }						
				});				 
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				}); 				
    	   });   				
    	}); // 처음 function끝
    	    	
    	</script>
  	    </th:block>
  	    

	<!-- Content -->
	<th:block layout:fragment="adminContents">   
		<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>삭제 도서 관리</div>
			
		</h4>

	<div class="card">
    	<div class="card">
              <div class="card-datatable table-responsive">
                <table class="myTable table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>삭제자</th>
                      <th>도서코드</th>
                      <th>도서명</th>
                      <th>ISBN</th>
                      <th>삭제사유</th>
                      <th>삭제일자</th>
                      <th>상세</th>
                      <th>복원</th>              
                    </tr>
                  </thead>
                  <tbody>
	                  <tr role="row" th:each="l: ${deleteList}">
	                  	<td class="align-middle" th:text="${l.bsDeleteId}"></td>
	                    <td class="align-middle" th:text="${l.bsCode}"></td>
	                    <td style="min-width: 170px;">
			               	 	<div class="media align-items-center">
			               	 		<input type="hidden" id="bsCode" th:value="${l.bsCode}">
			               	 		<img class="ui-w-40 d-block" th:src="${l.bookInformation.biImg}" alt="이미지가 제공되지 않는 도서">
			               	 		<span class="media-body d-block text-body ml-3" th:text="${#strings.abbreviate(l.bookInformation.biName,20)}"></span>
			               	 									<!-- th:text="${#strings.abbreviate(l.bookInformation.biName,20)}  -->
			               	 	</div>
			            </td>
	                    <td class="align-middle" th:text="${l.bookInformation.biIsbn}"></td> 
	                    <td class="align-middle" th:text="${l.bsDeleteReason}"></td>
	                    <td class="align-middle" th:text="${l.bsDeleteDate}"></td>
	                    <td class="align-middle text-center">			      		
						   <a th:href="@{/admin/stockDeleteDetail(bsCode=${l.bsCode})}"  class="btn btn-default btn-xs icon-btn md-btn-flat" title="상세">
							 <i class="ion ion-ios-copy" title="상세"></i>
						   </a>
						   <!--  "@{/admin/stockDetail(bsCode=${l.bsCode})}"   -->
					    </td>
					    <td class="align-middle text-center">
						    <button type="button" class="btn btn-default btn-xs icon-btn md-btn-flat" data-toggle="modal" data-target="#modals-default">
	                      		<i class="ion ion-md-refresh"  title="복원"></i>
	                        </button>    		      		
						   
						   <!--  "@{/admin/stockDetail(bsCode=${l.bsCode})}"   -->
					    </td>
	                  </tr>
                  </tbody>
                </table>
              </div>
            </div> 
             <div class="modal fade" id="modals-default">
                  <div class="modal-dialog">
                    <form class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">
                          	삭제 도서 복원
                          
                          <br>
                          <small class="text-muted"> 복원을 위하여 본인 id의 password를 작성해 주세요.</small>
                        </h5>
                         <a th:href="@{/admin/stockDeleteList}"  type="button" class="close" data-dismiss="modal" aria-label="Close">×</a>
                        
                      </div>
                      <div class="modal-body">
                      	<div class="form-row">
                          <div class="form-group col">
                         
                            <label class="form-label">ID</label>
                            <input id="uId" type="text" class="form-control" th:value="${session.SAID}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col">
                            <label class="form-label">PASSWORD</label>
                            <input id="uPw" type="password" class="form-control" placeholder="***********">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a th:href="@{/admin/stockDeleteList}" id="resetBtn" type="button" class="btn btn-primary">삭제</a>
                      </div>
                    </form>
                  </div>
                </div>         
    </div>
	</th:block>
	<!-- / Content -->
 	<!-- scripts -->
	
	<th:block layout:fragment="pageScript">
	
	<!-- addLibs -->
	<script th:src="@{/adminStatic/vendor/libs/datatables/datatables.js}"></script>
	<script th:src="@{/adminStatic/vendor/libs/numeral/numeral.js}"></script>
	<script th:src="@{/adminStatic/vendor/libs/nouislider/nouislider.js}"></script>

	<!-- addDemo -->
	<script th:src="@{/adminStatic/js/book_stock_list_tables.js}"></script>
	</th:block>
	<!-- / scripts -->
	          
</html>
