<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">

<th:block layout:fragment="adminTitle">
	<title>회원 권한 리스트</title>
</th:block>

 <!-- headAdd(Libs&page) -->
  
  <th:block layout:fragment="adminHeadAdd">
  
  <!-- addLibs -->
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/nouislider/nouislider.css}">

  <!-- addPage -->
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/css/pages/products.css}">
 
  </th:block>
  
  <!-- /headAdd(Libs&page) --> 
	  
	 
	<!-- Content -->
	<th:block layout:fragment="adminContents">   
		 <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
              <div>회원 권한 리스트</div>
             
              <a th:href="@{/admin/adUserAuthorityInsert}" class="btn btn-primary rounded-pill d-block">
              <span class="ion ion-md-add"></span>회원권한 등록</a>
            </h4>

            <div class="card">
            <div class="card">
              <div class="card-datatable table-responsive">
                <div id="product-list_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                	<div class="row">
                	<div class="col-sm-12">
                	<table id="product-list" class="table table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="product-list_info" style="width: 35px;">
	                  <thead>
	                    <tr role="row">
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center">회원제한코드</th>
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center">관리자ID</th>
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center">권한명</th>
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center">연체일(최소)</th>
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center">연체일(최대)</th>
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center">대출제한</th>
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center">공공시설</th>
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center">제한일</th>
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center">등록일</th>
	                    	<th class="sorting_disabled" aria-controls="product-list" rowspan="1" colspan="1" style="text-align:center"></th>
	                    	
	                   </tr>
	                   <th:block th:each="ua : ${userAuthority}">
	                   		<tr>
	                   			<td th:text="${ua.uasCode}"></td>
	                   			<td th:text="${ua.uId}"></td>
	                   			<td th:text="${ua.uasName}"></td>
	                   			<td th:text="|${ua.uasOverdueMin}일|" style="text-align:center"></td>
	                   			<td th:text="|${ua.uasOverdueMax}일|" style="text-align:center"></td>
	                   			<td style="text-align:center">
	                			<span th:if="${ua.uasLendLimit}  == O" th:text="대출가능" class="badge badge-outline-success" ></span>
	                			<span th:unless="${ua.uasLendLimit} == O" th:text="대출불가" class="badge badge-outline-danger"></span>
	               				</td>
	                   			<td style="text-align:center">
	               				<span th:if="${ua.uasFacilityLimit}  == O" th:text="사용가능" class="badge badge-outline-success" ></span>
	                			<span th:unless="${ua.uasFacilityLimit} == O" th:text="사용불가" class="badge badge-outline-danger"></span>
	               				</td>
	                   			<td th:text="|${ua.uasLimitDate}일|" style="text-align:center"></td>
	                   			<td th:text="${ua.uasDate}"></td>
	                   		
	                   			<td class="text-center text-nowrap">
	                   				<a th:href="@{/admin/adUserAuthorityUpdate(uasCode=${ua.uasCode})}" data-original-title="Edit" 
	               						class="btn btn-default btn-xs icon-btn md-btn-flat user-tooltip">
	               							<i class="ion ion-md-create" title="수정"></i>
	               					</a>&nbsp;&nbsp;
	               					<a th:href="@{#}" data-original-title="Edit" 
	               						class="btn btn-default btn-xs icon-btn md-btn-flat user-tooltip">
	               							<i class="ion ion-ios-cut d-block" title="삭제"></i>
	               					</a>&nbsp;&nbsp;
	                   			</td>
	                   		</tr>
	                   </th:block>
	                  </thead>
		               
		             	 </table>
		           		</div>
		          	</div>
		       <!--      <div class="row">
		            	<div class="col-sm-12 col-md-5">
		            		<div class="dataTables_info" id="product-list_info" role="status" aria-live="polite">Showing 1 to 10 of 37 entries</div>
		            	</div>
		            	<div class="col-sm-12 col-md-7">
		            		<div class="dataTables_paginate paging_simple_numbers" id="product-list_paginate">
		            			<ul class="pagination">
		            				<li class="paginate_button page-item previous disabled" id="product-list_previous">
		            					<a href="#" aria-controls="product-list" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
		            				</li>
		            				<li class="paginate_button page-item active">
		            					<a href="#" aria-controls="product-list" data-dt-idx="1" tabindex="0" class="page-link">1</a>
		            				</li>
		            				<li class="paginate_button page-item ">
		            					<a href="#" aria-controls="product-list" data-dt-idx="2" tabindex="0" class="page-link">2</a>
		            				</li>
		            				<li class="paginate_button page-item ">
		            					<a href="#" aria-controls="product-list" data-dt-idx="3" tabindex="0" class="page-link">3</a>
		            				</li>
		            				<li class="paginate_button page-item ">
		            					<a href="#" aria-controls="product-list" data-dt-idx="4" tabindex="0" class="page-link">4</a>
		            				</li>
		            				<li class="paginate_button page-item next" id="product-list_next">
		            					<a href="#" aria-controls="product-list" data-dt-idx="5" tabindex="0" class="page-link">Next</a>
		            				</li>
		            			</ul>
		            		</div>
		            	</div>
		            </div> -->
		           </div>
              </div>
            </div>
          </div>
            
	</th:block>
	<!-- / Content -->
  <!-- / scripts -->
	  <th:block layout:fragment="pageScript">
	  <!-- addLibs -->
	  <script th:src="@{/adminStatic/vendor/libs/datatables/datatables.js}"></script>
	  <script th:src="@{/adminStatic/vendor/libs/numeral/numeral.js}"></script>
	  <script th:src="@{/adminStatic/vendor/libs/nouislider/nouislider.js}"></script>
		
	  <!-- addDemo -->
 
	  </th:block>
   <!-- / scripts -->
	          
</html>
