<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	  
<th:block layout:fragment="adminTitle">
	<title>회원 등급 수정 페이지</title>
</th:block>

		<th:block layout:fragment="teamHeadScript">
			<script type="text/javascript">
				$(document).ready(function(){
					
					//유효성 검사 - 수정하기 위한
					$('#luBtn').click(function(){
						
						var ulName = $('#ulName').val();
						var ulMin = $('#ulMin').val();
						var ulMax = $('#ulMax').val();
						var ulLendNum = $('#ulLendNum').val();
						var ulLendDay = $('#ulLendDay').val();
						var upForm = $('#upForm');
						
						
						if(ulName == ''){
							alert('등급명을 입력해 주세요.');
							$('#ulName').focus();
							return false;
						}
						if(ulMin == ''){
							alert('최소 기준 권수를 입력해 주세요.');
							$('#ulMin').focus();
							return false;
						}
						if(ulMax == ''){
							alert('최대 기준 권수를 입력해 주세요.');
							$('#ulMax').focus();
							return false;
						}
						if(ulLendNum == ''){
							alert('대출 가능 권수를 입력해 주세요.');
							$('#ulLendNum').focus();
							return false;
						}
						if(ulLendDay == ''){
							alert('대출 가능일 수를 입력해 주세요.');
							$('#ulLendDay').focus();
							return false;
						}
						else{
							alert('등급이 수정되었습니다.');
							upForm.submit();
						} 
						
					});
					
			});

			</script>
		</th:block>   

   <!-- Content -->
   		<th:block layout:fragment="adminContents">

  <div class="page-loader">
    <div class="bg-primary"></div>
  </div>

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-2">
    <div class="layout-inner">

      <!-- Layout sidenav -->
      <!-- /Layout sidenav -->
      

      <!-- Layout container -->
      <div class="layout-container">
        <!-- Layout navbar -->
        <!-- /Layout navbar -->
        

        <!-- Layout content -->
        <div class="layout-content">

          <!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light">Forms /</span> 회원등급 수정 화면
            </h4>
            <div class="card mb-4">
              <h6 class="card-header">
              	  등급 수정 중입니다 
              </h6>
              <div class="card-body">
                <form th:action="@{/admin/adUserLevelUpdate}" id="upForm" method="post" th:with="lup = ${lUpdate}">
                
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label class="form-label">회원등급</label>
                      <input type="text" class="form-control" name="ulLevel" id="ulLevel" th:value="${lup.ulLevel}" placeholder="회원등급" readonly="readonly">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label">(관리자)아이디</label>
                      <input type="text" class="form-control" name="uId" id="uId" th:value="${session.SAID}" placeholder="작성자아이디" readonly="readonly">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">등급 명</label>
                    <input type="text" class="form-control" name="ulName" id="ulName" th:value="${lup.ulName}" placeholder="등급 명">
                  </div>
                  <div class="form-group">
                    <input type="hidden" class="form-control" name="lCode" id="lCode" th:value="${lup.lCode}" placeholder="도서관 코드" readonly="readonly">
                  </div>
                 <div class="form-row">
                  <div class="form-group col-md-6">
                    <label class="form-label">기준권수(최소)</label>
                    <input type="text" class="form-control" name="ulMin" id="ulMin" th:value="${lup.ulMin}" placeholder="최소 권수">
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label">기준권수(최대)</label>
                    <input type="text" class="form-control" name="ulMax" id="ulMax" th:value="${lup.ulMax}" placeholder="최대 권수">
                  </div>
                 </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label class="form-label">대출가능 권수</label>
                      <input type="text" class="form-control" name="ulLendNum" id="ulLendNum" th:value="${lup.ulLendNum}" placeholder="대출 가능 권수">
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label">대출 가능일 수 </label>
                      <input type="text" class="form-control" name="ulLendDay" id="ulLendDay" th:value="${lup.ulLendDay}" placeholder="대출 가능 일">
                    </div>
                  </div>
                 <div class="form-row">
                  <div class="form-group col-md-6"> 
                    <input type="hidden" class="form-control" name="ulDate" id="ulDate" th:value="${lup.ulDate}" placeholder="등급 등록날짜">
                  </div>
                 </div>
                  <button type="button" id="luBtn" class="btn btn-primary">등급 수정완료</button>
                </form>
              </div>
            </div>

          </div>
          <!-- / Content -->

          <!-- Layout footer -->

          <!-- / Layout footer -->

        </div>
        <!-- Layout content -->

      </div>
      <!-- / Layout container -->

    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
  </div>
  <!-- / Layout wrapper -->
	<!--  scripts -->	
	<th:block layout:fragment="pageScript">
	</th:block>
	<!--  /scripts -->
  

	</th:block>

</html>