<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin/adminDefault}" class="default-style">

<th:block layout:fragment="adminTitle">
	<title>문의하기</title>
</th:block> 'asdfasdf'+'sdfsadf'+'sadfasdf'
 <!-- teamScript(각페이지에서 각자 구현할 자바스크립트)  -->
  <th:block layout:fragment="teamHeadScript">
  	<script th:inline="javascript">
  		$(document).ready(function(){
  			var ddd = '<table><tr><td><button class="btn btn-primary d-block" id="commentUpdateDetail" style="margin-top: 20px;">답변수정</button></td>'
  					  +'<td><button type="button" class="btn btn-danger d-block" style="margin-top: 20px;">'
					  +'<a th:href="@{/admin/inquiryCommentDelete(boardCCode=${board.boardComment.boardCCode},boardCode=${board.boardCode})}" style="color: white">' 
          			  +'<span class="ion ion-md-cut">삭제하기</span>'
       			      +'</a></td></tr></button></table>'
  			$(document).on('click','#commetBtn',function(){
  				var commentText = $('#comment').html();
  				var commentTrim = commentText.trim()
  				console.log(commentTrim);
  				if(commentTrim == null || commentTrim == ""){
  				$('#comment').html('<br><br><br><hr style="border-color: #dcdcdc;">'
  								  +'<h3>문의 답변</h3><div><span style="color: #A2A4A6;" id="uId">관리자 : [[${session.SAID}]]</span></div>'
  								  +'<br><div id="commentContent"><div id="boardCContent" contenteditable style="height: 300px; width: 100%; border: 1px solid silver;"></div></div>'
  								  +'<br><hr style="border-color: #dcdcdc;">'
  								  +'<div id="Btn"><button class="btn btn-primary d-block" id="commentInsert" style="margin-top: 20px;">답변등록</button></div>');
	  			$(document).on('click','#commentInsert',function(){
	  				console.log('dz');
	  				var boardCContent = $('#boardCContent').html();
	  				console.log(boardCContent)
	  				var boardCode = $('#boardCode').val();
	  				console.log(boardCode)
	  				var request = $.ajax({
	  				  url: "/admin/inquiryCommentInsert",
	  				  method: "POST",
	  				  data: { "boardCContent" : boardCContent , "boardCode" : boardCode},
	  				  dataType: "json"
	  				});
	  				 
	  				request.done(function( data ) {
	  					console.log(data);
	  					var boardCCode = data.boardCCode;
	  					console.log("1"+boardCCode)
	  					$('#commentContent').html("");
	  					$('#commentContent').html(data.boardCContent);
	  					$('#commentInsert').remove();
				  		$('#Btn').html('<button class="btn btn-primary d-block" id="commentUpdate" style="margin-top: 20px;">수정하기</button>');
				  				$(document).on('click','#commentUpdate',function(){
				  				var commentContentHtml = $('#commentContent').html();
				  				console.log(commentContentHtml);
				  				$('#commentContent').html("");
				  				$('#commentContent').html('<div id="boardCContent" contenteditable style="height: 300px; width: 100%; border: 1px solid silver;">'+commentContentHtml+'</div>');
				  				$('#commentInsert').remove();
								$('#Btn').html('<button class="btn btn-primary d-block" id="commentUpdatePut" style="margin-top: 20px;">수정등록</button>');
								
								$(document).on('click','#commentUpdatePut',function(){
									console.log('commentUpdatePut')
					  				var boardCContentHtml = $('#boardCContent').html();
					  				var request = $.ajax({
					  				  url: "/admin/inquiryCommentUpdate",
					  				  method: "POST",
					  				  data: { "boardCContent" : boardCContentHtml , "boardCCode" : boardCCode, "boardCode" : boardCode },
					  				  dataType: "json"
					  				});
					  				 request.done(function( commentUpdate ) {
					  					boardCContentHtml = $('#boardCContent').html();
					  					 console.log('update값 : '+commentUpdate.boardCContent);
					  					$('#commentContent').html("");
					  					$('#commentContent').html('<div id="boardCContent">'+commentUpdate.boardCContent+'</div>');
					  					$('#Btn').html('<button class="btn btn-primary d-block" id="commentUpdate" style="margin-top: 20px;">수정하기</button>');
					  					
					  				});
					  				request.fail(function( jqXHR, textStatus ) {
					  				  alert( "Request failed: " + textStatus );
					  				});
					  			})
				  			})
	  					})
	  				request.fail(function( jqXHR, textStatus ) {
	  				  alert( "Request failed: " + textStatus );
	  				});
	  			})
  				}else{
  				alert('이미 답글이 달린 문의 입니다.')
  			}
  			})
  			$(document).on('click','#commentUpdateDetail',function(){
  				console.log('dzdz')
				  				var commentContentHtml = $('#commentContent').html();
				  				console.log(commentContentHtml);
				  				$('#commentContent').html("");
				  				$('#commentContent').html('<div id="boardCContent" contenteditable style="height: 300px; width: 100%; border: 1px solid silver;">'+commentContentHtml+'</div>');
				  				$('#commentUpdateDetail').remove();
								$('#Btn').html('<button class="btn btn-primary d-block" id="commentUpdatePutDetail" style="margin-top: 20px;">수정등록</button>');
								
								$(document).on('click','#commentUpdatePutDetail',function(){
									console.log('commentUpdatePutDetail')
									var boardCode = $('#boardCode').val();
									var boardCCode = $('#boardCCode').val();
					  				var boardCContentHtml = $('#boardCContent').html();
					  				console.log(boardCContentHtml);
					  				console.log(boardCCode);
					  				console.log(boardCode);
					  				var request = $.ajax({
					  				  url: "/admin/inquiryCommentUpdate",
					  				  method: "POST",
					  				  data: { "boardCContent" : boardCContentHtml , "boardCCode" : boardCCode, "boardCode" : boardCode },
					  				  dataType: "json"
					  				});
					  				 request.done(function( commentUpdate ) {
					  					boardCContentHtml = $('#boardCContent').html();
					  					 console.log('update값 : '+commentUpdate.boardCContent);
					  					$('#commentContent').html("");
					  					$('#commentContent').html('<div id="boardCContent">'+commentUpdate.boardCContent+'</div>');
					  					$('#Btn').html('<button class="btn btn-primary d-block" id="commentUpdateDetail" style="margin-top: 20px;">수정하기</button>');
					  					
					  				});
					  				request.fail(function( jqXHR, textStatus ) {
					  				  alert( "Request failed: " + textStatus );
					  				});
					  			})
				  			})
  		})
  	</script>
  
  </th:block>
  <!-- / teamScript(각페이지에서 각자 구현할 자바스크립트)  -->
	<!-- Content -->
	<th:block layout:fragment="adminContents">
	<script type="text/javascript" th:src="@{/libraryStatic/ckeditor/ckeditor.js}"></script>
		 	<h2 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light"></span>문의 상세보기
            </h2>
            
			<div class="card mb-4">
				<div style="margin: 30px;" th:each="l : ${board}">
				<input type="hidden" id="boardCode" th:value="${board.boardCode}">
					<h4><span th:utext="${l.boardTitle}"></span></h4>
					<h6><span style="color: #A2A4A6;" th:text="|작성자 : ${board.uId}  ㅣ  등록일 : ${board.boardDate}  ㅣ  조회수 : ${board.boardPageView}|"></span></h6>
					<hr style="border-color: #dcdcdc;">
			
				<div th:utext="${board.boardContent}">
				</div>
				<br><br><br><br><br>
				<hr style="border-color: #dcdcdc;">
				
			<table>
				<tr>
					<td style="width: 130px;">
						<button type="button" class="btn btn-primary d-block" style="margin-top: 10px;" id="commetBtn" name="commetBtn">
			            		<span id="spanComment" class="ion ion-md-build">답변하기</span>
			            	<a style="color: white">
			  				</a>
						</button>
					</td>
					<td style="width: 130px;">
						<button type="button" class="btn btn-danger d-block" style="margin-top: 10px;">
							<a th:href="@{/admin/noticeDelete(boardCode=${l.boardCode},boardLName=${'문의하기'})}" style="color: white"> 
			          			<span class="ion ion-md-cut">삭제하기</span>
			       			</a>
						</button>
					</td>
					<td>
						<button type="button" class="btn d-block btn-secondary" style="margin-top: 10px;">
							<a th:href="@{/admin/noticeSearchList(boardLName=${'문의하기'})}" style="color: white"> 
			          			<span class="far fa-list-alt">리스트</span>
			       			</a>
						</button>
					</td>
				</tr>
			</table>
				<div id="comment">
					<th:block th:if="${board.boardComment} != null">
					<input type="hidden" id="boardCCode" th:value="${board.boardComment.boardCCode}">
					<br><br><br><hr style="border-color: #dcdcdc;">
					<h3>문의 답변</h3>
					<div>
						<span style="color: #A2A4A6;">관리자 : [[${board.boardComment.uId}]]</span>
					</div><br>
					<div id="commentContent" th:utext="${board.boardComment.boardCContent}"></div>
					<hr style="border-color: #dcdcdc;">
						<div id="Btn">
							<table>
								<tr>
									<td>
										<button class="btn btn-primary d-block" id="commentUpdateDetail" style="margin-top: 20px;">답변수정
										</button>
									</td>
									<td>
										<button type="button" class="btn btn-danger d-block" style="margin-top: 20px;">
										<a th:href="@{/admin/inquiryCommentDelete(boardCCode=${board.boardComment.boardCCode},boardCode=${board.boardCode})}" style="color: white"> 
						          			<span class="ion ion-md-cut">삭제하기</span>
						       			</a>
					       			</td>
				       			</tr>
								</button>
							</table>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</th:block>
	
	<!-- / Content -->
	
	<!-- script -->
	<th:block layout:fragment="pageScript">
	
		<!-- addLibs -->
		<script th:src="@{/adminStatic/vendor/libs/chartjs/chartjs.js}"></script>
		
		<!-- addDemo -->
	</th:block>
	<!-- /script -->



</html>