<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin/adminDefault}" class="default-style">
	
	
<th:block layout:fragment="teamHeadScript">

	<script>
		$(document).ready(function(){
			$('#updateBtn').click(function(){
				var lbContent = $('#lbContent1').html();
				$('#lbContent').val(lbContent);
				console.log($('input[name="lbContent"]').val())
				console.log(lbContent)
				console.log(lbContent)
				console.log(lbContent)
				console.log(lbContent)
				console.log(lbContent)
				console.log(lbContent)
				console.log(lbContent)
				console.log(lbContent)
				
			})
		});
	</script>

</th:block>


<th:block layout:fragment="adminTitle">
	<title>추천도서 상세보기</title>
</th:block>

	<!-- Content -->
	<th:block layout:fragment="adminContents">
		 	<h2 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light"></span>사서추천 도서
            </h2>
			<div class="card mb-4">
			<form th:action="@{/admin/bookRecommendUpdate}" method="post">
			<input type="hidden" name="lbCode" id="lbCode" th:value="${Llist.lbCode}">
			<input type="hidden" name="lCode" id="lCode" th:value="${Llist.lCode}">
			<input type="hidden" name="uId" id="uId" th:value="${session.SAID}">
			<input type="hidden" name="bsCode" id="bsCode" th:value="${Llist.bsCode}">
			
				<div>
					<table>
						<tr>
							<td style="padding: 20px; padding-left: 60px;">
								<div>
									<img th:src="${Llist.bookInformation.biImg}" style="width: 150px; height: 200px;">
								</div>
							</td>
							<td>
								<h3><strong>제목</strong></h3>
								<h5><strong>저자명</strong></h5>
								<h5><strong>출판사</strong></h5>
								<h5><strong>출판년도</strong></h5>
							</td>
							<td style="padding: 20px; padding-left: 40px;">
								<h3><span style="color: #848484;" >:&ensp; [[${Llist.bookInformation.biName}]]</span></h3>
								<h5><span style="color: #848484;" >:&ensp; [[${Llist.bookInformation.biAuthor}]]</span></h5>
								<h5><span style="color: #848484;" >:&ensp; [[${Llist.bookInformation.biPublisher}]]</span></h5>
								<h5><span style="color: #848484;" >:&ensp; [[${Llist.bookInformation.biYear}]]</span></h5>
								<ul></ul>
							</td>
						</tr>
					</table>
				<hr style="border-color: #BDBDBD; width: 90%">
				<div style="padding: 20px; padding-left: 70px;">
					<table>
						<tr>
							<td style="width: 20px;">
								<span><h3><a class="btn-primary d-block" style="width: 10px; height: 20px;"></a></h3></span>
							</td>
							<td>
							<h3><span>책 내용</span></h3>
							</td>
							<td colspan="2">
								<span><h3> &emsp;</h3></span>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span>[[${Llist.bookInformation.biDtail}]]</span>
							</td>
						</tr>
					</table>
				</div>
				<hr style="border-color: #BDBDBD; width: 90%">
				<div style="padding: 20px; padding-left: 70px;">
					<table>
						<tr style="width: 100%">
							<td style="width: 20px;">
								<h3><a class="btn-primary d-block" style="width: 10px; height: 20px;"></a></h3>
							
							</td>
							<td>
								<h3 style="width: 200px;">추천인 서평</h3>
							</td>
						</tr>
						<tr style="width: 100%">
							<td colspan="2"  style="width: 100%">
							<div>
								<input type="hidden" id="lbContent" name="lbContent">
								<div id="lbContent1" contenteditable="true" style="width: 1000px; height: 200px; background-color: #CEF6F5;" th:utext="${Llist.lbContent}"></div>
							</div>
							</td>
						</tr>
					</table>
				</div>
				<hr style="border-color: #BDBDBD; width: 90%">
				<div style="padding: 20px; padding-left: 70px;">
					<table>
						<tr>
							<td style="width: 20px;">
								<span><h3><a class="btn-primary d-block" style="width: 10px; height: 20px;"></a></h3></span>
							</td>
							<td>
							<h3><span>추천인</span></h3>
							</td>
							<td colspan="2">
								<span><h3> &emsp;</h3></span>
							</td>
						</tr>
						<tr>
							<td colspan="2">
							<input type="text" id="lbId" name="lbId" placeholder="추천인  ID를입력해주세요." style="width: 180px;" th:value="${Llist.lbId}">
							</td>
						</tr>
					</table>
				</div>
				<hr style="border-color: #BDBDBD; width: 90%">
				<div style="padding: 20px; padding-left: 70px;">
					<table>
						<tr>
							<td style="width: 20px;">
								<span><h3><a class="btn-primary d-block" style="width: 10px; height: 20px;"></a></h3></span>
							</td>
							<td>
							<h3><span>공개여부</span></h3>
							</td>
							<td colspan="2">
								<span><h3> &emsp;</h3></span>
							</td>
						</tr>
						<tr>
							<td colspan="2" th:if="${Llist.lbOpen} == 'O'">
								<input id="open" type="radio" value="O" name="lbOpen" th:checked="true">
                                <label for="open">공개&nbsp;</label>
                    			<input id="no" type="radio" value="X" name="lbOpen">
                                <label for="no">비공개</label>
							</td>
							<td colspan="2" th:if="${Llist.lbOpen} == 'X'">
								<input id="open" type="radio" value="O" name="lbOpen">
                                <label for="open">공개&nbsp;</label>
                    			<input id="no" type="radio" value="X" name="lbOpen" th:checked="true">
                                <label for="no">비공개</label>
							</td>
						</tr>
					</table>
				</div>
				<hr style="border-color: #BDBDBD; width: 90%">
				<div style="padding: 20px; padding-left: 60px;">
					<table>
						<tr>
							<td style="width: 130px;">
								<a style="color: white;" id="updateBtn"> 
				            	<input type="submit" value="수정완료" class="btn btn-primary"style="margin-top: 10px;">
							</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</form>
	</div>
	</th:block>
	
	<!-- / Content -->
	
	<!-- script -->
	<th:block layout:fragment="pageScript">
	
		<!-- addLibs -->
		<script th:src="@{/adminStatic/vendor/libs/chartjs/chartjs.js}"></script>
		
		<!-- addDemo -->
	</th:block>
	<!-- /script -->



</html>