<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin/adminDefault}" class="default-style">


<th:block layout:fragment="adminTitle">
	<title>사서추천 도서리스트</title>
</th:block>

<!-- Content -->
<th:block layout:fragment="adminContents">
<style>
	a {
	color : #4E5155;
	}
</style>
        <!-- Layout content -->
        <div class="layout-content">

          <!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y" style="width: 100%">

            <h4 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light"></span>사서추천 도서
            </h4>
            <div class="card">
			<div class="card" style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
	            <div class="table-responsive">
	              <table class="datatables-demo table table-striped table-bordered">
	                <thead>
	                  <tr>
	                     <th data-orderable="false" style="width: 10px;">책 이미지</th>
                      <th>내용</th>
	                  </tr>
	                </thead>
	                <tbody>
		                  <tr th:each="l : ${lbl}">
		                  	<td>
				    		<img th:src="${l.bookInformation.biImg}" style="width: 120px; height: 180px;"/>
				    	</td>
				    	<td>
							<label><span style="color: #615F5F"><h3><a th:href="@{/admin/bookRecommendDetail(lbCode=${l.lbCode})}" th:text="| 제 목 : ${l.bookInformation.biName}|"></a></h3></span>				    		
							<span><h5><a th:text="|줄거리 : ${l.bookInformation.biDtail}|"></a></h5></span>				    		
							<span><h5><a th:text="|저자명 : ${l.bookInformation.biAuthor}    ㅣ        발행자 : ${l.bookInformation.biPublisher}|" style="color: #a2a4a6;"></a></h5></span>		</label>
							<th:block th:if="${l.lbOpen} == 'O'">		    		
							<span class="badge badge-outline-success" >공개</span>
							</th:block>
							<th:block th:if="${l.lbOpen} == 'X'">		    		
							<span class="badge badge-outline-danger" >비공개</span>
							</th:block>
				    	</td>
		                  </tr>
	                </tbody>
	              </table>
	            </div>
            </div>
          </div>
	   <div>
	   		<a href="/admin/bookRecommendInsert" style="color: white"> 
				            <button type="button" class="btn btn-primary d-block" style="margin-top: 10px;">
				            	<span class="ion ion-md-add">도서추천</span>
							</button>
			</a>
	   </div>
          </div>
          <!-- / Content -->
        </div>
        <!-- Layout content -->
	   <br>
	   <br>
</th:block>

<!-- / Content -->

<!-- script -->
<th:block layout:fragment="pageScript">
  <link rel="stylesheet" th:href="@{/adminStatic/vendor/libs/datatables/datatables.css}">
  <script th:src="@{/adminStatic/vendor/libs/popper/popper.js}"></script>
  <script th:src="@{/adminStatic/vendor/js/bootstrap.js}"></script>
  <script th:src="@{/adminStatic/vendor/js/sidenav.js}"></script>

  <!-- Libs -->
  <script th:src="@{/adminStatic/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
  <script th:src="@{/adminStatic/vendor/libs/datatables/datatables2.js}"></script>
  <!-- Demo -->
  <script th:src="@{/adminStatic/js/demo.js}"></script>
  <script th:src="@{/adminStatic/js/tables_datatables.js}"></script>
</th:block>
<!-- /script -->



</html>